<div id="ad_sideblock_wrapper">
  <script type="text/javascript"><!--
  google_ad_client = "pub-1545644343401729";
  /* 200x200, 创建于 09-4-22 */
  google_ad_slot = "2453648852";
  google_ad_width = 200;
  google_ad_height = 200;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>
