<div class="sidebar_panel">
	<div class="sidebar_panel_header">
		<h1><%= LOGIN_CN %></h1>
	</div>
	
	<div class="sidebar_panel_main">
		<%= render :partial => "/sessions/login_input" %>
	</div>
</div>