<div id="menus_wrapper" class="content_block">

  <div id="menus_header" class="block_header">
    <%= render :partial => "layouts/index_header",
               :locals => { :show_header_link => true,
                           :show_new_link => false,
                           :block_title => @block_title } %>
  </div>

  <div id="menus_detail" class="block_main">
    <% if params[:controller] == 'menus' %>
      <div id="menus_filter_bar" class="filter_bar">
        <%= render :partial => "menus/menu_filter_bar" %>
      </div>
    <% end %>

    <div id="menus_list">
      <%= render :partial => "layouts/items_list",
                 :locals => { :show_paginate => true,
                             :items_set => @menus_set || @taggables_set || @searchables_set,
                             :limit => nil,
                             :itemable_sym => nil,
                             :show_photo => true,
                             :photo_style => 'portrait',
                             :show_below_photo => true,
                             :show_title => false,
                             :show_user => false,
                             :show_photo_todo => @show_photo_todo,
                             :show_parent => false,
                             :show_todo => @show_todo,
                             :show_favorite => @show_favorite,
                             :show_manage => @show_manage,
                             :delete_remote => false } %>
    </div>
  </div>

</div>
