<div class="overlay_backgroud">

</div>

<div class="overlay_wrapper">
	<div class="overlay_content">
		<div class="close">
			<%= link_to_function("x") do |page|
				page.hide "overlay"
		  end %>
		</div>
		<div class="block_header">
			<%= render :partial => "/layouts/index_header", 
								 :locals => {:show_header_link => false, 
								 						 :show_new_link => false, 
								 						 :block_title => "#{FAVORITE_CN}#{name_for(type_for(favorable))} - #{favorable.title}"} %>
		</div>
		<div id="notice_for_favorite" class="sub_block_lr">

		</div>
		<div id="input_form_for_favorite" class="sub_block">
			<%= render :partial => "/favorites/favorite_input", 
								 :locals => { :favorable => favorable, 
								 							:favorite => favorite, 
								 							:is_new => is_new, 
								 							:current_status => current_status } %>
		</div>
	</div>
</div>