<div class="content_block">
	<div class="block_header">
		<div class="block_header_link">
			<%= link_to sysinfo('300006', '', {:title => I_CN}, MORE_CN, {:type => RECIPE_CN, :count =>@user.recipes.size-1}), mine_recipes_path %>
		</div>
		<h1><%= @block_title %></h1>
	</div>
	
	<div class="block_main">
		<%= render :partial => "recipe", 
							 :locals => { :button_name => sysinfo('300001', CREATE_CN, nil, NEW_CN, {:type => RECIPE_CN})} %>
	</div>
</div>