<div class="overlay_backgroud">

</div>

<div class="overlay_wrapper">
  <div class="overlay_content">
    <div class="close">
      <%= link_to_function("x") do |page|
        page.hide "overlay"
      end %>
    </div>
    <div class="block_header">
      <% block_title = strip_tags "发表感言 - #{user_username(user, true, true)}" %>
      <%= render :partial => "layouts/index_header",
                  :locals => { :show_header_link => false,
                              :show_new_link => false,
                              :block_title => block_title } %>
    </div>
    <div id="notice_for_winner" class="sub_block_lr">

    </div>
    <div id="input_form_for_winner" class="sub_block">
      <%= render :partial => "elect_winners/speech_input",
                  :locals => { :user => user,
                              :winner => winner } %>
    </div>
  </div>
</div>