<div class="content_block">

	<div class="block_header">
		<div class="block_header_link">
			<%= link_to "#{BACK_CN}#{@parent_name}", @parent_obj %>
		</div>
		<h1><%= strip_tags @block_title %></h1>
	</div>

	<div class="block_main">
		<% if @entry && @matches_set_count > 0 %>
			<%= render :partial => "/entries/entry_input", 
								 :locals => { :entry => @entry,
								 							:is_new => true,
								 							:matches_set => @matches_set } %>
		<% end %>
	</div>

</div>