<div class="sidebar_block" style="text-align: center; background-color: #ffffff !important; margin-bottom: 8px !important">
  <a href="http://www.ourtasty.com/index.html?source_id=beecook&url=http://www.ourtasty.com/product_detail.html?ps_goid=010401214" target="_blank" style="background-color: transparent !important;"><img src="/images/partner/ourtasty/ourtasty_290_200_5.jpg" title="日全食-让你的味蕾邂逅世界" alt="" /></a>
</div>

