<% item_url = item_first_link(item) %>
<% item_title = strip_tags(str_squish(item.title)) %>
<% user_url = user_first_link(item.user, false) %>
<% photo_url = "#{root_url[0..root_url.size-2]}#{photo_file_url(cover_photo(item), 'Recipe', 'matrix')}" %>
<% logo_url = "#{root_url}images/logo/bc_logo_web.png" %>
<% if (profile = item.user.profile) && !profile.blog.blank? %>
  <% blog_url = "http://#{profile.blog}" %>
<% end %>

<% html_content = [] %>

<% html_content << "<div style='padding: 5px; text-align: center; width: 150px; margin: auto;'>" %>

<% html_content << "<div style='margin-bottom: 1px;'>
                      <a href='#{item_url}' target='_blank'><img alt='' src='#{photo_url}' title='#{item_title}' /></a>
                    </div>
                    <div>
                      <a href='#{item_url}' target='_blank' style='text-decoration: none; font-size: 12px; font-weight: normal !important; color: #ff8159; font-family: Verdana; word-break: break-all; line-height: 16px;'>#{item_title}</a>
                    </div>" %>

<% html_content << "<div>
                      <a href='#{user_url}' target='_blank' style='text-decoration: none; font-size: 12px; font-weight: normal !important; color: #428cbb; font-family: Verdana; word-break: break-all; line-height: 16px;'>#{item.user.login}的#{MAIN_PAGE_CN}</a>
                    </div>" %>

<% if !blog_url.blank? %>
	<% html_content << "<div>
                          <a href='#{blog_url}' target='_blank' style='text-decoration: none; font-size: 12px; font-weight: normal !important; color: #428cbb; font-family: Verdana; line-height: 16px;'>Blog</a>
                        </div>" %>
<% end %>

<% html_content << "<div style='margin-top: 3px;'>
                      <a href='#{root_url}' target='_blank'><img alt='', src='#{logo_url}' title='#{SLOGAN_CN}' style='width: 80px;'/></a>
                    </div>" %>
										
<% html_content << "</div>" %>

<div class="sub_block_lr">
  <%= render :partial => 'layouts/item_share',
              :locals => { :item_type => 'Recipe',
                           :html_content => html_content } %>
</div>