<% stats_entries = [] %>
<% stats_entries << [ 'favorite', item.favorites.size, '人', FAVORITE_CN ] %>
<% stats_entries << [ 'review', item.reviews.size, unit_for('Review'), REVIEW_CN ] %>
<% stats_entries << [ 'view', views_count(item), '次', SEE_CN ] %>
<% stats_entries << [ 'photo', item.photos.size, unit_for('Photo'), PHOTO_CN ] %>

<% for se in stats_entries %>
	<% if se[1] > 0 %>
		<span class="stats_entry">
			<span style="float: right;"><%= "#{se[3]}" %></span>
			<%= "#{se[1]} #{se[2]}" %>
		</span>
	<% else %>
		<span class="stats_entry" style="color: #b8b9a7;">
			<span style="float: right;"><%= "#{se[3]}" %></span>
			<%= "0 #{se[2]}" %>
		</span>
	<% end %>
<% end %>