<div class="sidebar_block sidebar_ads">
  <!-- ca-pub-1545644343401729/BC_Recipe_Show_ATF_Right_Sidebar_290x180 -->
  <script type='text/javascript'>
    GA_googleFillSlot("BC_Recipe_Show_ATF_Right_Sidebar_290x180");
  </script>
</div>
