<div class="content_block">

  <div class="block_header">
    <div class="block_header_link">

    </div>
    <h1><%= strip_tags @block_title %></h1>
  </div>

  <div class="block_main">
    <div id="love_recipe_users" class="sub_block">
      [蜂友排名不分先后]
      <br />
      <% for user in @love_users_set %>
        <%= link_to strip_tags(user.login), { :controller => 'users', :action => 'profile', :id => user.id }, :target => '_blank' %><span class="user_love_recipes_count"><%= "(#{user.love_recipes_count})" %></span>
      <%end%>
    </div>
  </div>
</div>
