<div class="content_block">
	
	<div class="block_header">
		<div class="block_header_link">
			<%= link_to "我的更多#{@self_name}(#{@recipes_set_count})", :action => 'mine' %>
		</div>
		<h1><%= @block_title %></h1>
	</div>
	
	<div class="block_main">
		<%= render :partial => "recipe", 
							 :locals => { :button_name => "#{CREATE_CN}新#{@self_name}"} %>
	</div>

</div>