<div id="users_wrapper" class="content_block">
	<div id="users_header" class="block_header">
		<div class="block_header_link">	
				
		</div>
		<h1><%= strip_tags @block_title %></h1>
	</div>
	
	<div id="users_detail" class="block_main">
		<% if params[:category] == 'brain' %>
			<%= render :partial => "/layouts/items_list",
								 :locals => {:show_paginate => true,
								 						 :items_set => @users_set.sort_by{ rand }, 
								 						 :limit => nil,
								 						 :itemable_sym => nil, 
								 						 :show_photo => true,
								 						 :photo_style => 'list',  
								 						 :show_below_photo => false, 
								 						 :show_title => false, 
								 						 :show_user => false, 
								 						 :show_photo_todo => false, 
								 						 :show_parent => false,
								 						 :show_todo => false, 
								 						 :show_favorite => false, 
								 						 :show_manage => false, 
								 						 :delete_remote => false} %>
		<% else %>
			<%= render :partial => "/layouts/items_matrix",
								 :locals => {:show_paginate => true,
								 						 :items_set => @users_set, 
								 						 :limit => nil,
								 						 :items_count_per_row => count_per_row, 
								 						 :items_count_per_page => 60, 
								 						 :show_photo => true, 
								 						 :show_below_photo => true,  
								 						 :show_title => true, 
								 						 :show_user => false, 
								 						 :show_photo_todo => false, 
								 						 :photo_style => 'matrix'} %>
		<% end %>
	</div>
</div>