<div class="content_block">

  <div class="block_main">
    <div class="sub_block_lr">
      <%= render :partial => 'users/user_invite',
        :locals => { :user => @current_user } %>
    </div>
  </div>

</div>
