a {
	text-decoration: none;
	color: #9933cc; 
}

/*a:link {
	color: #2835B6;
}
a:visited {
	color: #A133BD;
}*/


#header {
	
		background: #171717 url(/images/1/maochu.gif) repeat-x;
	
	height: 99px;
	border-bottom: 1px solid #171717;
	width: 100%;
	padding: 0px;
	margin: 0px;
	margin-bottom:10px;
	color: #C0B3AD;
}
#header a, #header a:visited {
	color: #C0B3AD;
}

#logo {
	position:absolute;
	top:15px;
	left:15px;
	float:left;
	font-size: 35px;
	line-height: 35px;
	color: #C0B3AD;
	font-variant: small-caps;
	font-weight: normal;
}

/* Content Wrapper */
#content_wrapper{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 98.5%;
}

/* Content Top */
#content_top {
	background-image: url(/images/1/content-top-bg.gif);
	background-position: top;
	background-repeat: no-repeat;
	height: 10px;
	overflow: hidden;
}

/* Content Bottom */
#content_bottom {
	background-image: url(/images/1/content-bottom-bg.gif);
	background-position: top;
	background-repeat: no-repeat;
	height: 10px;
	overflow: hidden;
}

/* Content Main */
#content_main {
	background-image: url(/images/1/content-fade-bg.gif);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #fff;
	min-height: 200px;
}

/* Sub Navigation */
#sub_navigation {
	padding-left: 20px;
}

/* Content Column */
#content_column{
	margin-right: 300px;
	min-width: 500px;
	min-height: 100px;
	z-index: 10;
}

/**
 * For pages without sidebar, stretch content to fill the whole damn view 
 * ...as flavor flav would say...YEAH BOYEEEEEEEEEE
 */
/*#content_column.nosidebar {
	margin-right: auto;
} */

/* Content Block */
.content_block {
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Sidebar Colmun */
#sidebar_column{
	float: right;
	width: 300px;
	z-index: 1;
}

/* Sidebar Block */
.sidebar_block {
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: lightgrey;
	min-height: 100px;
}

/* Footer */
#footer {
	clear: both;
	width: 100%;
	font-size: 12px;
	padding-top: 5px;
}
#footer a {
	color: #E3D2A3;
	text-decoration: none;
	margin-left:20px;	
}

/* Block Header */
div.block_header {
  background: #cc99ff;
  margin: 0 0 5px 0;
  padding: 10px 30px 10px 30px;
	border-top: #999999 2px solid;
}
div.block_header h1 {
	padding: 0;
  margin: 0;
	font-size: 16px;
	color: #000;
}

/* Content Form */
table.content_form {
	
}
table.content_form tr {
	
}
table.content_form td {
	padding-top: 5px;
	padding-right: 5px;
	vertical-align: middle;
}
table.content_form label {
  width: 10em;
  float: left;
	text-align: right;
	font-size: 20px;
  /*display: block;*/
}

/* Line */
div.line {
	border-bottom: 2px solid #474241;
	/*border-bottom: 2px solid #474241;*/
	margin: 10px 0 10px 0;
}

/* Button */
.submit {
	cursor: hand;
	margin-left: 10.5em;
	padding: 0 5px 0 5px;
}

/* Current User */
#current_user {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 12px;
}

/*-------------------------------------------------
PAGE HEADER
-------------------------------------------------*/

div.page_header {
  background: #edf3fe;
  margin: 0 0 5px 0;
  padding: 13px 30px 13px 24px;
}

div.page_header h1 {
	padding: 0;
  margin: 0;
	font-size: 16px;
	color: #000;
}

div.page_header h1 span {
	font-size: 12px;
	color: #666;
	font-weight: normal;
}

div.sheet div.page_header h1 {
  font-size: 20px;
}

div.page_header p {
  margin: 5px 0 0 0;
}



#real_content_container {
	background-image: url(/images/1/content-right-bg.gif);
	background-position: top right;
	background-repeat: repeat-y;
}



#preview_blocker {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
	background-image: url(/images/1/preview-bg.gif);
	width: 100%;
	height: 100%;
	opacity: 0.3;
	filter: alpha(opacity=30);
}





/* HELP BUTTON */

#help_button_container {
	float:right;
	z-index: 100;
	margin-right: 10px;
	margin-top: 10px;
}
#help_button {
	width: 40px;
	height: 20px;
	background-image: url(/images/1/buttons/help-small.png) !important;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/1/buttons/help-small.png',sizingMethod='crop');
	background-repeat:no-repeat;
}

#current_user_msg {
	float: right;
	margin-top: 12px;
	margin-right: 10px;
	font-size: 12px;
}

#current_user_msg a {
	text-decoration: none;
}

/* TOP NAVIGATION */
#navigation {
	position:absolute;
	z-index: 300;
	top: 70px;
	left: 30px;
	white-space: nowrap;
}

#right_navigation {
	position:absolute;
	z-index: 300;
	top: 70px;
	right: 30px;
	white-space: nowrap;	
}

ul.navigation {
	margin: 0px;
	padding-left:0px;
	padding: 0px;
	display: inline;
}

ul.navigation li {
	margin:0px;
	list-style: none;
	display:block;
	float:left;
	padding:0px;
	padding-left:10px;
	margin-right:3px;
}

ul.navigation li.active {
	font-size: 20px;
	font-style: normal;
}

/* SET TAB GRAPHICS FOR NAVIGATION */

#navigation ul.navigation li, #right_navigation ul.navigation li {
	
		background-image: url(/images/1/tabs/inactive-left-small.gif);
		background-repeat: no-repeat;
	
	height: 40px;
	margin-right: 5px;
}

#navigation ul.navigation li a, #right_navigation ul.navigation li a {
	
		background-image: url(/images/1/tabs/inactive-right-big.gif);
		background-repeat: no-repeat;
	
	background-position: top right;
	height: 40px;
	display: block;
	width: auto !important;
	width: 50px;
	text-align: center;
	padding-right: 10px;
	line-height: 30px;
}

/* ACTIVE TABS */
#navigation ul.navigation li.active, #right_navigation ul.navigation li.active {
	background-image: url(/images/1/tabs/active-left.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
}

#navigation ul.navigation li.active a, #right_navigation ul.navigation li.active a{
	background-image: url(/images/1/tabs/active-right.gif);
	background-color: transparent;
	color: #3F1E10;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
}

/* END NAVIGATION */

/* Secondary actions, links */

ul.navigation.secondary {
	float:right;
	margin-top: -30px;
	margin-right: 0px;
}

ul.navigation.secondary li a, ul.navigation.secondary li a:visited {
	text-decoration: none;
	color: #2835B6;
}

.navigation a, .navigation a:link, .navigation a:visited {
}

#navigation .navigation a, #navigation .navigation a:link, #navigation .navigation a:visited, #right_navigation .navigation a {
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

#navigation .navigation .active a, #navigation .navigation .active a:link, #navigation .navigation .active a:visited, #right_navigation .navigation .active a {
	font-size:20px;
}

/* in-page tab navigation */

.navigation.tertiary a, .navigation.tertiary a:link, .navigation.tertiary a:visited {
	color: #FFFFFF;
	text-decoration: none !important;
	padding: 5px 10px;
	padding-left: 10px !important;
	padding-left: 5px;
	display: block;
	font-size: 15px;
}
.navigation.tertiary li {
	background-color: #474241;
	padding: 0px;
	text-align: center;
}
.navigation.tertiary li.active {
	border: 1px solid #474241;
	font-weight: bold;
	background-color: #fff;
	border-bottom: 0px;
}
.navigation.tertiary li.active a {
	color: #474241 !important;
}
#subnav {
	border-bottom: 1px solid #474241 !important;
	height: 27px;
	margin-bottom: 10px;
}
#subnav ul {
	position: absolute;
}

/* navigation for weekly / daily tabs..... */

table.tabnav {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

table.tabnav td {
	background-color: #8686D7;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
	border-right: 1px solid #fff;
}

table.tabnav td a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #ACA9FB;
}

table.tabnav td.active {
	background-color: #D4D3FF;
	font-weight: bold;
	font-size: 1.1em;
}
table.tabnav td.active a {
	color: #2E2E6B;
	border-bottom: 0px;
}

table.tabnav td.endcap {
	padding: 0px;
	border: 0px;
	background-color: transparent;
}
table.tabnav td.endcap a {
	border-bottom: 0px;
}

/* SIDEBAR BOX */

.sidebar {
	background-image: url(/images/1/sidebar/bg.gif);
	background-repeat: repeat-y;
	margin-top:0px;
	padding:0px;
	overflow: auto;
}
.sidebar, .sidebar table td, .sidebar div, .sidebar p, .sidebar ul {
	font-size: 12px;
}
.sidebar table td.left {
	padding-left: 10px;
}
.sidebar table td.right {
	padding-right: 10px;
	text-align:right;
}
.sidebar ul {
	margin-left: 10px;
}
.sidebar ul li {
}

.sidebar_inner {
	padding:10px;
	padding-right:20px;
	margin-top: -30px;
	background-image: none;
	background-color: transparent;
	height:auto !important;
	height:50px;
}
.sidebar_top {
	height:30px;
}
.sidebar_bottom {
	height:20px;
}

.sidebar p {
	margin-left:10px;
}

.sidebar h1 {
	color: #3F1E10;
	padding-top: 5px;
	padding-left: 0px;
	background-image: none;
}

.sidebar * h3 {
	font-size: 12px;
	background-color: #C5BEBE;
	background-repeat: repeat-x;
	padding-top:2px;
	padding-left: 5px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid #B9ACAC;
	border-top: 1px solid #B9ACAC;
	color: #4a2918;
}

.sidebar * h4 {
	padding-left: 5px;
	font-size: 1em;
	background-color: transparent;
}

.sidebar ul li {
	margin-left: 20px;
}
.sidebar ol li {
	margin-left: 10px;
}