<ul>
  <li><%= "主题: #{strip_tags(item.subject)}" %></li>
  <li><%= "口号: #{strip_tags(item.slogan)}" %></li>
  <li><%= "时间: #{time_iso_format(item.start_at, false, true)} -- #{time_iso_format(item.end_at, false, true)}" %></li>
  <li>
  <%= render :partial => 'elections/election_status',
              :locals => { :item => item } %>
  </li>
</ul>