<div class="content_block">
	<div class="block_header">
		<h1><%= strip_tags @block_title %></h1>
	</div>
	<% if @user %>
		<div class="block_main">
			<%= render :partial => "reset_password" %>
		</div>
	<% end %>
</div>