<div class="content_block">
	
	<div class="block_header">
		<% if @show_header_link %>
		<div class="block_header_link">	

		</div>
		<% end %>
		<h1><%= h @block_title %></h1>
	</div>
	
	<div class="block_main">
		<div class="tag">
			<%= render :partial => "/tags/tag_cloud",
								 :locals => {:tags => @tags} %>
		</div>
	</div>
	
</div>