<h1>Editing match_actor</h1>

<%= error_messages_for :match_actor %>

<% form_for(@match_actor) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @match_actor %> |
<%= link_to 'Back', match_actors_path %>
