<% document = [] %>
<% match_url = url_for(:controller => 'matches', :action => 'profile', :id => 1) %>
<% document << ["如何获得报名参赛或投票资格？", 
								"如果你要报名参赛或给参赛作品投票，应该首先注册#{SITE_NAME_CN}帐户成为#{PEOPLE_CN}，任何#{PEOPLE_CN}都自动获得报名参赛和投票资格。
								注：帐户注册和激活步骤请参考 <a href='#{help_url}'>用户指南</a> 。
								<a href='#{signup_url}'>注册帐户...</a>
								", 
								true] %>
<% document << ["比赛的基本环节是什么？", 
								"环节1：报名——#{PEOPLE_CN}报名成为参赛选手。
								环节2：作品征集——参赛选手提交参赛作品。
								环节3：投票——#{PEOPLE_CN}给参赛作品投票。
								环节4：评选揭晓——依据比赛规则评选奖项并揭晓获奖名单。
								", 
								true] %>
<% document << ["如何报名？", 
								"登录#{SITE_NAME_CN}进入比赛页面，在“比赛介绍”区域点击“我要报名”即可。
								注：只有当比赛状态和报名状态都处于“进行中”时，才可以报名。
								", 
								true] %>
<% document << ["对参赛作品有什么基本要求？", 
								"对于食谱类型的参赛作品，首先应满足以下基本要求：
								要求1：食谱信息必须完整规范，至少包括名称、标签、难度、准备时间、制作时间、出品量、描述、用料、做法等。
								要求2：食谱必须附带相关图片。
								要求3：食谱必须处于“已发布”状态。
								要求4：食谱的隐私设置必须为“任何人”可见。
								注：关于“创建食谱”、“上传图片”、“发布食谱”和“隐私设置”等请参考 <a href='#{help_url}'>用户指南</a> 。
								", 
								true] %>
<% document << ["如何提交参赛作品？", 
								"如果你已经报名成为参赛选手，登录#{SITE_NAME_CN}后即可提交参赛作品，对于食谱类型的参赛作品，有两种提交作品方式：
								方式1：进入要参赛食谱的查看页面，当这个食谱满足 <a href='#s4'>参赛作品的基本要求</a> 时，你会看见“参赛”链接，点击“参赛”进入“新参赛作品”页面，选择你要参加的比赛，点击“提交新作品”即可。
								<img alt='' src='/images/help/match/match_help_1.JPG' title='提交作品' />
								方式2：创建新食谱 --> 添加食谱图片 --> 发布食谱 --> 提交参赛（参考方式1）。
								注：关于“创建食谱”、“上传图片”、“发布食谱”和“隐私设置”等请参考 <a href='#{help_url}'>用户指南</a> 。
								", 
								true] %>
<% document << ["如何投票？", 
								"登录#{SITE_NAME_CN}后即可给参赛作品投票，有两种投票方式：
								方式1： 进入比赛页面，在“我的投票”区域点击“我要投票”，进入参赛作品展示页面，点击某个作品下方的“投票区”即可给你喜欢的作品“投票”。
								方式2： 直接进入某个参赛作品的查看页面（如，某个食谱的查看页面），在正在参赛信息区域点击“投票区”即可给这个作品“投票”。
								<img alt='' src='/images/help/match/match_help_2.JPG' title='投票区' />
								对于你已经投过票的作品，可以点击这个作品的“投票区”，为作品“加票”、“减票”或“撤票”。
								注：只有当比赛状态和投票状态都处于“进行中”时，才可以给参赛作品投票。
								", 
								true] %>
<% document << ["如何取消参赛作品？", 
								"如果你要取消自己的某个参赛作品，可以登录#{SITE_NAME_CN}进入这个作品的查看页面（如，某个食谱的查看页面），在正在参赛信息区域点击“取消参赛”即可。
								注1：只有当比赛状态和征集状态都处于“进行中”时，才可以取消参赛作品。
								注2：一旦取消了某个参赛作品，有关这个作品的投票数据将同时被删除。
								", 
								true] %>
<% document << ["如何退出比赛？", 
								"如果你要退出比赛，可以登录#{SITE_NAME_CN}进入比赛页面，在“比赛介绍”区域点击“退出比赛”即可。
								注1：只有当比赛状态处于“进行中”时，才可以退出比赛。
								注2：如果你还有作品正在参赛，请先取消你的所有参赛作品，然后才可以退出比赛。
								", 
								true] %>
<% document << ["如何联系#{SITE_NAME_CN}?", 
							  "如果你有任何问题和建议，欢迎通过 <a href='#{feedback_url}'>反馈</a> 或者直接发送邮件到 #{SITE_EMAIL} 与#{SITE_NAME_CN}联系。
							  ", 
							  true] %>
<% document << ["", 
							  "
							  #{SITE_NAME_CN} (#{SITE_NAME_EN}.com)
							  ", 
							  false] %>
							  
<%= render :partial => '/site/document', 
					 :locals => { :document => document } %>