<% document = [] %>
<% match_url = url_for(:controller => 'matches', :action => 'profile', :id => 1) %>
<% document << ["报名参赛或者投票需要什么资格？", 
								"要报名参赛或者给参赛作品投票，应该首先注册#{SITE_NAME_CN}帐户成为#{SITE_NAME_CN}成员，任何#{SITE_NAME_CN}成员都自动具有报名参赛和投票资格，具体帐户注册和激活过程请参考 <a href='#{help_url}'>用户指南</a> 。
								如果你还不是#{SITE_NAME_CN}成员，<a href='#{signup_url}'>现在就注册...</a>
								", 
								true] %>
<% document << ["比赛的基本流程是什么？", 
								"1. 报名：成为参赛选手。
								2. 提交参赛作品：创建参赛食谱，并提交成为参赛食谱，也可以从自己已有的食谱中选择作为参赛作品，直接提交该食谱即可（需要满足参赛条件，详见后）。
								3. 投票：#{SITE_NAME_CN}成员给自己认可的作品投票，投票规则详见“比赛详情”。
								4. 成绩揭晓：根据评奖规则评选出主奖项和纪念奖项。
								（注：请留意比赛日程安排，不要错过提交参赛作品时间和投票时间）
								", 
								true] %>
<% document << ["如何报名？", 
								"登录并点击进入比赛页面后，点击“我要报名”，即可完成报名步骤，点击“查看详情”，可以浏览本次比赛的描述、日程、奖项、规则等详细信息。
								<a href='#{match_url}'>进入比赛页面...</a>
								", 
								true] %>
<% document << ["参赛作品有什么要求？", 
								"参赛作品除了要满足比赛规则中的要求之外，要想正常提交为参赛作品，还需要满足以下几个要求：
								1. 参赛作品的食谱信息必须完整规范，包括名称、标签、难度、准备时间、制作时间、出品量、描述、用料、做法等等。
								2. 必须附上该食谱的相关图片。
								3. 食谱处于“发布”状态（默认为草稿状态）
								4. 食谱的隐私设置必须为“任何人”可见。关于隐私设置请参考<a href='#{help_url}'>用户指南</a>。
								", 
								true] %>
<% document << ["如何提交参赛作品？", 
								"本次参赛作品既可以创建新的食谱也可以从自己在#{SITE_NAME_CN}上已有的食谱中进行选择，介绍如下（下面的描述假设用户已经正常登录）：
								1. 如果是提交新食谱作为参赛作品：首先，点击“创建食谱”链接上传你想参赛的食谱作品，并按照要求完整填写食谱信息（注：隐私设置请设置为“任何人”，保存食谱信息完毕后，会看到“添加新图片”链接，点击后按照提示的步骤可以上传该食谱相关图片，默认状态该食谱会保存为“草稿”形式，你需要点击“发布”将该食谱发布出去，此时你会看到出现了“参赛”链接（如下图），点击该链接，按照提示的步骤选择要参加的比赛即可完成该参赛作品的提交。
								2. 从已有食谱中选择作为参赛作品，首先要确定满足参赛作品的要求（见前一条所述），如果不满足条件，可以通过编辑食谱或者给食谱添加图片来满足参赛条件。满足条件后并确定食谱处于“发布”状态后，即可如前1步所述点击“参赛”来完成参赛作品的提交。
								<img alt='' src='/images/help/match/match_help_1.JPG' title='添加好友!' />
								对前面所述有不明白的地方，可以参考<a href='#{help_url}'>用户指南</a>。
								", 
								true] %>
<% document << ["如何取消参赛作品？", 
								"进入你想取消的参赛食谱，在食谱里的比赛信息栏里点击“取消参赛”并确定，即可取消该食谱参加比赛。
                                                                （注意：一旦该食谱取消参赛，有关该食谱的投票及其他参赛信息都无法恢复）
								", 
								true] %>
<% document << ["如何投票？", 
								"#{SITE_NAME_CN}成员在正常登录后即可进行投票：
								1. <a href='#{match_url}'>进入比赛页面</a>，在“我的投票”一栏中，点击“我要投票”，即可进入投票页面，点击你喜欢的食谱，进入该食谱页面即可对你喜欢的食谱进行投票了。
								2. 也可以直接进入该食谱页面进行投票。
								（投票链接如下图所示）
								<img alt='' src='/images/help/match/match_help_2.JPG' title='添加好友!' />
								", 
								true] %>
<% document << ["如何联系#{SITE_NAME_CN}?", 
							  "如果你有问题和建议，欢迎你通过 <a href='#{feedback_url}'>反馈</a> 或者直接发送邮件到 #{SITE_EMAIL} ，我们会尽快做出解答。
							  ", 
							  true] %>
<% document << ["", 
							  "
							  #{SITE_NAME_CN} (#{SITE_NAME_EN}.com)
							  ", 
							  false] %>
							  
<%= render :partial => '/site/document', 
					 :locals => { :document => document } %>