<% if photos.size > 0 %>
	<ul>
		<% for photo in photos %>
			<li>	
				<%= link_to image_tag(photo_file_url(photo, photoable_type, photo_style), :title => h(photo_alt(photo, "还没有#{PHOTO_CN}"))), 
										restfu_url_for(nil, {:type => photoable_type, :id => photo.photoable_id}, {:type => 'photo', :id => photo.id}, nil) %>
			</li>
		<% end %>
	</ul>
<% else %>
	<%= image_tag photo_file_url(nil, photoable_type, 'portrait'), :title => "还没有#{PHOTO_CN}" %>		
<% end %>