<% if show_paginate %>
	<% photos = items_paginate(photos_set) %>
<% elsif limit %>
	<% photos = photos_set[0..limit-1] %>
<% else %>
	<% photos = photos_set %>
<% end %>
<% photos_count_per_row = MATRIX_ITEMS_COUNT_PER_ROW_M %>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => photos} %>
<% end %>

<table class="photo">		
	<% 1.upto(photos_rows_count(photos.size, photos_count_per_row)) do |r| %>
		<tr>
			<% 1.upto(photos_count_per_row) do |c| %>
				<% if (i=c+(r-1)*photos_count_per_row) <= photos.size %>
					<td class="photo_item_cell">
						<div class="matrix_block">
							
							<% if show_photo %>
								<div class="matrix_photo">
				    			<%= render :partial => "/photos/photo_photo",
				    								 :locals => {:photo => photos[i-1], 
				    								 						 :photo_style => 'matrix', 
				    								 						 :show_cover => show_cover, 
				    								 						 :photo_link_url => nil} %>
								</div>
							<% end %>
							
							<% if show_below_photo %>
								<div class="below_photo">
									<%= render :partial => "/photos/below_photo_photo", 
														 :locals => {:photo => photos[i-1], 
														 						 :show_photo_todo => show_photo_todo} %>
								</div>
							<% end %>
							
						</div>
					</td>
				<% else %>
					<% break %>
				<% end %>
			<% end %>
		</tr>	
	<% end %>
</table>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => photos} %>
<% end %>