<div class="sub_block">
	<div id="document_content">
		<ul>
			<% 1.upto(document.size) do |i| %>
				<% p = document[i-1] %>
				<li><%= link_to p[0], "\#s#{i}" %></li>
			<% end %>
		</ul>
	</div>
	<br />
	<div id="document_main" class="item_detail">
		<% 1.upto(document.size) do |i| %>
			<% p = document[i-1] %>
			<div id="s<%= i %>" class="main">
				<% if !p[0].blank? %>
					<h3><%= p[0] %></h3>
				<% end %>
				<ul><%= paragraphs(p[1], true, true) %></ul>
			</div>
		<% end %>
	</div>
</div>