<div class="sidebar_block">
  <div class="sidebar_block_header">
    <h1><%= '友情合作伙伴' %></h1>
  </div>

  <div id="partner_list_wrapper" class="sidebar_block_main">
    <table class="content">
      <tr>
        <td>
          <div class="sideblock_list_photo">
            <%= link_to image_tag('partner/foodlife/foodlife_logo.jpg', :title => '美食·人生', :alt => ''), 'http://q.blog.sina.com.cn/wjhdwsrs', :target => "_blank" %>
          </div>
        </td>

        <td>
          <div class="sideblock_list_photo">
            <%= link_to image_tag('partner/livinggreenpaper/livinggreenpaper_logo.jpg', :title => '生活绿皮书', :alt => ''), 'http://q.blog.sina.com.cn/yryg', :target => "_blank" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>