<% items = [ [ '美食·人生', 'http://q.blog.sina.com.cn/wjhdwsrs', '美食·人生' ], [ '生活绿皮书', 'http://q.blog.sina.com.cn/yryg', '生活绿皮书' ], 
            [ 'SPOOON', 'http://www.spooon.dk', 'SPOOON' ], [ '淘宝商城SPOOON旗舰店', 'http://spooon.taobao.com', '淘宝商城SPOOON旗舰店' ], 
            [ 'FLVCD', 'http://www.flvcd.com', 'FLVCD' ], [ '都市圈圈', 'http://www.dsqq.cn', '都市圈圈' ],
            [ '大旗精品论坛', 'http://bbs.daqi.com/', '大旗精品论坛' ], [ '走秀网', 'http://www.zoshow.com', '买得起的时尚' ], 
            [ 'Hers女性网', 'http://www.herschina.com', 'Hers女性网' ], [ '玩家旅游网', 'http://www.gootrip.com', '玩家旅游网' ],
            [ '菜到家', 'http://www.caidaojia.com', '无公害蔬菜配送到家网' ], [ '酒酷网', 'http://www.jiucool.com.cn', '中国最大最全的酒类直销平台' ] ] %>
<% items_count = items.size %>
<% items_count_per_row = 2 %>
<table>
  <% 1.upto(items_rows_count(items_count, items_count_per_row)) do |r| %>
    <tr>
      <% 1.upto(items_count_per_row) do |c| %>
        <% if (i=c+(r-1)*items_count_per_row) <= items_count %>
          <td class="seo_link_cell">
            <%= link_to items[i-1][0], items[i-1][1], :title => items[i-1][2], :target => '_blank' %>
          </td>
        <% else %>
          <% break %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>