<div class="sidebar_block">
  <div class="sidebar_block_header">
    <h1><%= '友情链接' %></h1>
  </div>
  <div id="seo_links_list_wrapper" class="sidebar_block_main">
    <%= render :partial => 'site/seo_links' %>
  </div>
</div>