<div id="help_wrapper" class="content_block">
	
	<div id="help_header" class="block_header">
		<%= render :partial => "/layouts/index_header", 
							 :locals => {:show_header_link => false, 
							 						 :show_new_link => false, 
							 						 :block_title => @block_title} %>
	</div>
	
	<div id="help_detail" class="block_main">
		<%= render :partial => '/site/help' %>
	</div>

</div>