<div id="terms_wrapper" class="content_block">
	
	<div id="terms_header" class="block_header">
		<%= render :partial => "/layouts/index_header", 
							 :locals => {:show_header_link => false, 
							 						 :show_new_link => false, 
							 						 :block_title => @block_title} %>
	</div>
	
	<div id="terms_detail" class="block_main">
		<%= render :partial => '/site/cooking' %>
	</div>

</div>