/* Common */
body {
	width: 100%;
	min-width: 1000px;
	background-color: #695245;
}
a, a:link, a:visited {
	text-decoration: none;
}
a:hover {
	background-color: transparent;
}
img {
	background-color: #fefefe;
}

/* Header */
#header {
	width: auto;
	height: 99px;
	background-color: #428cbb;
	color: #fbfbfb;
}

/* Logo */
#logo {
	position: absolute;
	top: 15px;
	left: 30px;
	background-color: transparent;
}
#logo img {
	background-color: #428cbb;
}

/* Help */
#help {
	position: absolute;
	top: 15px;
	right: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ff8159;
	color: #fbfbfb;
	text-align: center;
	z-index: 1000;
}
#help a, #help a:link, #help a:visited {
	color: #fbfbfb;
}
#help a:hover {
	color: #695245;
}

/* Current User */
#current_user {
	position: absolute;
	top: 15px;
	right: 90px;
	z-index: 200;
}
#current_user a, #current_user a:link, #current_user a:visited {
	margin-right: 10px;
	color: #fbfbfb;
}
#current_user a:hover {
	background-color: #fbfbfb;
	color: #695245;
}

/* Footer */
#footer {
	position: relative;
	top: auto;
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	background-color: #695245;
	color: #fbfbfb;	
}
#footer a, #footer a:link, #footer a:visited {
	margin-right: 10px;
	color: #fbfbfb;	
}
#footer a:hover {
	background-color: #fbfbfb;
	color: #695245;
}
#footer span.copyright {
	color: #999999;
}

/* Main Navigation */
#navigation {
	position: absolute;
	top: 72px;
	width: 100%;
	min-width: 1000px;
	white-space: nowrap;
	color: #695245;
	z-index: 10;
}
/* For IE6 */
* html #navigation {
	top: 73px;
}
/* For IE7 */
* +html #navigation {
	top: 73px;
}
#left_navigation {
	position: absolute;
	left: 30px;
}
#right_navigation {
	position: absolute;
	right: 30px;
}
#navigation ul {
	display: inline;
	white-space: nowrap;
}
#navigation li {
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	list-style: none;
	display: block;
	text-align: center;
	background-color: #fbfbfb;
}
#navigation li a, #navigation li a:link, #navigation li a:visited {
	font-size: 14px;
	color: #695245;
}
#navigation li a:hover {
	color: #ff8159;
}
#left_navigation li {
	margin-right: 10px;
}
#right_navigation li {
	margin-left: 10px;
}
#navigation li.active {
	background-color: #695245;
}
#navigation li.active a, #navigation li.active a:link, #navigation li.active a:visited {
	font-size: 16px;
	font-weight: bold;
	color: #fbfbfb;
}
/*ul.navigation {
	display: inline;
	white-space: nowrap;
}
ul.navigation li {
	/*background-image: url(/images/2/tabs/inactive-left-small.png);
	background-repeat: no-repeat;
	float: left;
	/*height: 30px;
	margin-right: 10px;
	padding-left: 0px;
	list-style: none;
	display: block;
	border: 1px solid;
}
ul.navigation li a {
	/*background-image: url(/images/2/tabs/inactive-right-big.png);
	background-repeat: no-repeat;
	background-position: top right;*/
	/*height: 30px;*/
	/*width: auto;
	padding-right: 10px;
	line-height: 30px;
	display: block;
	text-align: center;	
}
/* Only IE6 
* html ul.navigation li a {
	display: inline-block;
}
ul.navigation li.active {
	/*background-image: url(/images/2/tabs/active-left.gif);
	background-color: transparent;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
}
ul.navigation li.active a {
	/*background-image: url(/images/2/tabs/active-right.gif);
	background-color: transparent;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
}
.navigation a, .navigation a:link, .navigation a:visited {
	font-size: 14px;
	font-weight: bold;
	color: #695245;
}
.navigation a:hover {
	color: #eeeeee;
}
.navigation .active a, .navigation .active a:link, .navigation .active a:visited {
	font-size: 16px;
	color: #eeeeee;
}*/

/* Content Wrapper */
#content_wrapper {
	position: relative;
	top: auto;
	width: auto;
	padding: 0px;
	z-index: 200;
}
#content_separator {
	height: 100px;
}
/* Content Top */
#content_top {
	height: 10px;
	background-image: url(/images/2/content-top-bg.gif);
	background-position: top;
	background-repeat: no-repeat;
	display: block;
}

/* Content Bottom */
#content_bottom {
	height: 10px;
	background-image: url(/images/2/content-bottom-bg.gif);
	background-position: top;
	background-repeat: no-repeat;
	display: block;
}

/* Content Main */
#content_main {
	height: auto;
	width: auto;
	/*min-width: 1000px;
	background-image: url(/images/2/content-fade-bg.gif);
	background-position: top;
	background-repeat: repeat-x;
	overflow: auto;*/
	background-color: #fefefe;
	color: #333333;
	display: block;
}

/* Sub Navigation */
#sub_navigation {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #695245;
	color: #fbfbfb;
}
#sub_navigation a, #sub_navigation a:link, #sub_navigation a:visited {
	margin-right: 10px;
	font-size: 14px;
	color: #fbfbfb;
}
#sub_navigation a:hover {
	background-color: #fbfbfb;
	color: #695245;
}

/* Content Column */
#content_column {
	margin-right: 300px;
	padding: 10px;
}
#content_column.no_sidebar {
	margin-right: auto;
}
#content_column a, #content_column a:link, #content_column a:visited {
	color: #428cbb;
}
#content_column a:hover {
	background-color: #428cbb;
	color: #fefefe;
}
#content_column div.full_image a:hover, #content_column div.list_image a:hover, #content_column div.detail_image a:hover, #content_column div.image_navigation a:hover {
	background-color: transparent;
}
#content_column div.todo_button a, #content_column div.todo_button a:link, #content_column div.todo_button a:visited {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ff8159;
	color: #fefefe;
	font-size: 14px;
	text-align: center;
}
#content_column div.todo_button a:hover {
	color: #695245;
}

/* Content Block */
.content_block {
	width: 100%;
	border-top: #428cbb 4px solid;
	border-bottom: #428cbb 4px solid;
}

/* Block Header */
.block_header {
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #99ccff;
}
.block_header h1 {
	font-size: 14px;
	font-weight: bold;
	color: #695245;
}
.block_header .block_header_link {
	float: right;
	color: #695245;
}
.block_header a, .block_header a:link, .block_header a:visited {
	color: #800000 !important;
}
.block_header a:hover {
	background-color: #800000 !important;
	color: #fefefe !important;
}
.block_header span.title a, .block_header span.title a:link, .block_header span.title a:visited {
	color: #ff8159 !important;
}
.block_header span.title a:hover {
	background-color: #ff8159 !important;
	color: #fefefe !important;
}

/* Block Main */
.block_main {
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fbfbfb;	
}
.block_main table {
	width: 100%;
}

/* Sidebar Colmun */
#sidebar_column {
	position: absolute;
	right: 0px;
	top: 37px;
	width: 300px;
}
#sidebar_column a, #sidebar_column a:link, #sidebar_column a:visited {
	color: #695245;
}
#sidebar_column a:hover {
	background-color: #695245;
	color: #fefefe;
}
#sidebar_column div.image a:hover {
	background-color: transparent;
}

/* Sidebar Panel */
#sidebar_panel {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background-color: #eeeeee;
}

/* Sidebar Block */
.sidebar_block {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background-color: #ffffcc;
}

/* Content Table */
table.content {
	background: transparent;
}
table.content tr {
	
}
table.content td {
	vertical-align: top;
}
td.left_colomn {
	
}
td.right_colomn {
	width: 100%;
}
td.label {
	width: 150px;
	padding-top: 12px;
	padding-right: 10px;
}
td.input {
	padding-top: 10px;
}
table.content input {
	height: 20px;
	vertical-align: middle;
}
table.content input.text {
	width: 450px;
}
table.content input.text_s {
	width: 200px;
}
table.content textarea {
	width: 450px;
	height: 150px;
}
td.submit {
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
td.image_cell {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

div.block_main label {
	float: right;
	text-align: right;
	font-weight: bold;
}
div.block_main label.required {
	color: #ff8159;
}
div.block_main label.left {
	float: none;
}
div.prev_next {
	margin: auto;
	margin-bottom: 5px;
	width: 640px;
	color: #999999;
}
div.sub_block {
	margin: auto;
	padding: 10px;
}
div.sub_block_s {
	margin: auto;
	width: 640px;
}
div.cube_image {
	
}
div.list_image {
	width: 160px;
	margin-bottom: 5px;
	text-align: center;
}
div.detail_image {
	width: 328px;
	text-align: center;
}
div.full_image {
	margin: auto;
	width: 648px;
	margin-bottom: 5px;
	text-align: center;
}
div.sign_list_image {
	width: 48px;
	text-align: center;
}
div.sign_detail_image {
	width: 80px;
	text-align: center;
}
div.detail_image img, div.full_image img, div.cube_image img, div.image_navigation img {
	border: 4px #eeeeee solid;
}
div.cube_image img.cover {
	border: 4px #ff8159 solid;
}
div.image a:hover, div.list_image a:hover, div.detail_image a:hover, div.full_image a:hover, div.cube_image a:hover {
	background-color: transparent !important;
}
div.image_navigation {
	height: 56px;
	padding: 10px;
	text-align: center;
}
div.below_image {
	margin-top: 5px;
	color: #999999;
	text-align: center;
	clear: both;
}
div.title {
	margin-bottom: 10px;
	text-align: left;
}
div.basic {
	margin-top: 5px;
	margin-bottom: 20px;
	color: #999999;
	text-align: left;
}
div.main {
	margin-bottom: 20px;
	text-align: left;
}
div.todo {
	margin-bottom: 20px;
	color: #cccccc;
	text-align: left;
}
div.todo_right {
	margin-bottom: 20px;
	color: #cccccc;
	text-align: right;
}
div.todo_button {
	text-align: right;
}
div.notice {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	color: #695245;
}
div.separator {
	padding-top: 10px;
	padding-bottom: 10px;
}
div.sub_block_header {
	padding: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #fefefe;
	background-color: #695245;
}
div.label {
	
}
div.input {
	padding-top: 5px;
}
div.error {
	padding-top: 5px;
}
div.submit {
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}
div.line {
	border-bottom: 4px solid #eeeeee; 
	margin-bottom: 10px;
}
.block_main li {
	list-style: none;
	display: block;
}
.block_main li.navigation_image {
	width: 61px;
	height: 56px;
	text-align: center;
	float: left;
}
li.navigation_image img {
	
}
.block_main li.basic {
	margin-bottom: 3px;
}
.block_main li.label {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 4px solid #eeeeee;
	color: #800000;
	font-size: 14px;
}
.block_main li.input {
	padding-top: 10px;
}
.block_main li.text {
	min-height: 1em;
	margin-bottom: 10px;
}
.block_main li.list {
	list-style-type: decimal;
	list-style-position: outside;
	display: list-item;	
	margin-bottom: 10px;
}

/* Sidebar Table */
table.sidebar {
	background: transparent;
}
table.sidebar tr {
	
}
table.sidebar td {
	vertical-align: top;
}
table.sidebar td.image {
	width: 80px;
	padding: 4px;
	color: #999999;
	text-align: center;
}
table.sidebar div.image {
	
}
table.sidebar div.below_image {
	margin-top: 3px;
}

/*--------------------------------------------------------------*/

/* Line */
/*.line {
	border-bottom: 2px dotted #eeeeee;
	margin-bottom: 10px;
}*/

/* Button */
.submit {
	cursor: hand;
	/* margin-left: 10.5em;*/
	padding: 0 5px 0 5px;
	color: #333333;
	/* background-color: #428cbb;*/
}

/* Secondary actions, links */

ul.navigation.secondary {
	float:right;
	margin-top: -30px;
	margin-right: 0px;
}

ul.navigation.secondary li a, ul.navigation.secondary li a:visited {
	text-decoration: none;
	color: #2835B6;
}

/* in-page tab navigation */

.navigation.tertiary a, .navigation.tertiary a:link, .navigation.tertiary a:visited {
	color: #fefefe;
	text-decoration: none !important;
	padding: 5px 10px;
	padding-left: 10px !important;
	padding-left: 5px;
	display: block;
	font-size: 15px;
}
.navigation.tertiary li {
	background-color: #474241;
	padding: 0px;
	text-align: center;
}
.navigation.tertiary li.active {
	border: 1px solid #474241;
	font-weight: bold;
	background-color: #fff;
	border-bottom: 0px;
}
.navigation.tertiary li.active a {
	color: #474241 !important;
}
#subnav {
	border-bottom: 1px solid #474241 !important;
	height: 27px;
	margin-bottom: 10px;
}
#subnav ul {
	position: absolute;
}

/* navigation for weekly / daily tabs..... */

table.tabnav {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

table.tabnav td {
	background-color: #8686D7;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
	border-right: 1px solid #fff;
}

table.tabnav td a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid #ACA9FB;
}

table.tabnav td.active {
	background-color: #D4D3FF;
	font-weight: bold;
	font-size: 1.1em;
}
table.tabnav td.active a {
	color: #2E2E6B;
	border-bottom: 0px;
}

table.tabnav td.endcap {
	padding: 0px;
	border: 0px;
	background-color: transparent;
}
table.tabnav td.endcap a {
	border-bottom: 0px;
}

/* SIDEBAR BOX */

.sidebar {
	background-image: url(/images/2/sidebar/bg.gif);
	background-repeat: repeat-y;
	margin-top:0px;
	padding:0px;
	overflow: auto;
}
.sidebar, .sidebar table td, .sidebar div, .sidebar p, .sidebar ul {
	font-size: 12px;
}
.sidebar table td.left {
	padding-left: 10px;
}
.sidebar table td.right {
	padding-right: 10px;
	text-align:right;
}
.sidebar ul {
	margin-left: 10px;
}
.sidebar ul li {
}

.sidebar_inner {
	padding:10px;
	padding-right:20px;
	margin-top: -30px;
	background-image: none;
	background-color: transparent;
	height:auto !important;
	height:50px;
}
.sidebar_top {
	height:30px;
}
.sidebar_bottom {
	height:20px;
}

.sidebar p {
	margin-left:10px;
}

.sidebar h1 {
	color: #3F1E10;
	padding-top: 5px;
	padding-left: 0px;
	background-image: none;
}

.sidebar * h3 {
	font-size: 12px;
	background-color: #C5BEBE;
	background-repeat: repeat-x;
	padding-top:2px;
	padding-left: 5px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid #B9ACAC;
	border-top: 1px solid #B9ACAC;
	color: #4a2918;
}

.sidebar * h4 {
	padding-left: 5px;
	font-size: 1em;
	background-color: transparent;
}

.sidebar ul li {
	margin-left: 20px;
}
.sidebar ol li {
	margin-left: 10px;
}