* { margin: 0; padding: 0; }

body, p, ol, ul, td, input, textarea, select, option, button {
  /*font-family: 'Trebuchet MS', 'Verdana', sans-serif;*/
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:   12px;
  line-height: 16px;
}


a.cancel, a.cancel:link, a.cancel:visited {
	color: #B1454A;
	font-weight: bold;
}

a.action, a.action:link, a.action:visited {
	/*
	background-color: #CEF19E;
	border: 2px ridge #A9A434;
	text-decoration: none;
	color: #613608;
	padding: 3px;
	font-weight: bold;
	*/
	color: #993333;
	font-weight: bold;
}

a.blue_link:link, a.blue_link {
	color: #5272E0 !important;
}

img, fieldset { border: 0; }

input, select, textarea { vertical-align: middle; }

/*ul li {
	padding: 2px 0px;
	list-style-type: square;
}*/

ul.sortable li {
	cursor: pointer;
	cursor: hand;
	list-style-type: none;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 5px;
}

ul.sortable li p {
	margin-bottom: 5px;
}

.contentPad ul {
	margin-left: 25px;
}


ol { 
	list-style-type:  decimal; 
	margin-left: 20px !important;
	margin-left: 25px;
}
ol li {
	margin-bottom:  5px;
}

p {
	margin-bottom:10px;
}

table td {
	/*vertical-align: top;*/
}
table td ul {
	/*margin-left: 15px;*/
}

/*h1 {
	font-size: 20px;
	line-height: 21px;
	font-weight: bold;
	color: #3F1E10;
	margin-bottom:10px;
	border-bottom: 1px solid #9B9525;
	padding-bottom: 5px; 
	padding-top: 10px;
	padding-bottom: 5px;
	
	background-image: url(/images/2/h1-fade.png);
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-left: 5px;
	
}*/

h2 {
	font-size: 15px;
	font-weight: normal;
	/*margin-bottom:10px;
	
		/*background-color: #eadcb1;
		background-color: #ecdab0;
		border-top: 1px solid #c6a963;
		border-bottom: 1px solid #c6a963;
	
	color: #4a2918;*/
	/*background-color: #ff8159;*/
	color: #ff8159;
	/*padding: 5px;*/
	text-align: left;
}

h2 a, h2 a:link, h2 a:visited {
	color: #ff8159 !important;
	/*color: #4a2918 !important;
	text-decoration: none;
	border-bottom: 1px dotted #4a2918;*/
}
h2 a:hover {
	color: #ffffff !important;
	background-color: #ff8159 !important;
}

h3 {
	font-size: 13px;
	font-weight: bold;
	color: #474241;
	margin-bottom:10px;
	margin-top: 5px;
	background-color: #CFCFCF;
	padding: 5px;
}

h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #666;
	font-weight: normal;
	padding: 2px;
	background-color: #F3F2F1;
}

div.line1, div.line2 {
	border-bottom: 1px solid #474241;
	padding:0px;
	margin-top:0px;
	margin-bottom:10px;
	clear:both;
}

div.line2 {
	border-bottom: 1px dashed #ccc;
}

label {

}
label.normal {
	font-weight: normal;
}

select {
	border: 1px solid #ACB5B9;
	background-color: #F1F3F3;
}
select option {
	padding: 3px;
	background-color: #F1F3F3;
}

td.middle {
	vertical-align: middle !important;
}

/*-------------------------------------------------
PAGE HEADER
-------------------------------------------------*/

div.page_header {
  background: #edf3fe;
  margin: 0 0 5px 0;
  padding: 13px 30px 13px 24px;
}

div.page_header h1 {
	padding: 0;
  margin: 0;
	font-size: 16px;
	color: #000;
}

div.page_header h1 span {
	font-size: 12px;
	color: #666;
	font-weight: normal;
}

div.sheet div.page_header h1 {
  font-size: 20px;
}

div.page_header p {
  margin: 5px 0 0 0;
}

/* END TAG STYLES ========================================== */ 

div.float, div.floatHalf {
	float:left;
	margin-right:10px;
}
div.floatHalf {
	width:48%;
}

div.indent {
	padding:0px;
	margin:0px;
	margin-top:-10px;
	padding-left:20px;
}

div.padLeft {
	padding-left:10px;
}

.clear {
  clear:both;
  height:1px;
  overflow:hidden;
}

.contentPad, .content_pad {
	margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
	margin-top: 0;
}

.info {
	font-size: 11px !important;
	font-style:italic;
	color: #666666;
	letter-spacing: 0em;
}

.notice {
	color: #CC666E;
}

.smaller *, .smaller * * {
	font-size: 11px;
}

/** 
 * Used for temporary items in the UI we need to call attention to.
 * Made ugly on purpose...
 */
.temporary, .temp {
	background-color: #E05274;
	color: #fff;
	border: 4px solid #99334B;
	padding: 10px;
	margin-bottom: 10px;
}

.clickable {
	cursor: pointer;
	cursor: hand;
}

/**
 * Used for system messages
 *
 */
.system_message {
	background-color: #EDEDED;
	border: 2px solid #C5BEBE;
	border-left: 0px;
	border-right: 0px;
	padding: 10px;
	margin-bottom: 10px;
}
.system_message h2 {
	font-size: 17px;
	background-image: none;
	background-color: transparent;
	color: #333333;
	border-top: 0px;
	border-bottom: 1px dotted #b7b6dc;
	padding-bottom: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
}
.system_message .line {
	border-bottom: 1px dashed #C5BEBE;
}

/**
 * Used for system notices
 *
 */
.system_notice {
	/*background-color: #E6E6B3;
	background-color: #FCFCE1;
	color: #32342B;
	border: 2px solid #999933;
	border: 2px solid #FFCC00;
	border-left: 0px;
	border-right: 0px;*/
	background-color: #ccffcc;
	border-top: 4px solid #78b36d;
	border-bottom: 4px solid #78b36d;
	color: #333333;
	padding: 10px;
	padding-left: 30px;
	margin-bottom: 10px;
}
.system_notice h2 {
	font-size: 17px;
	background-image: none;
	background-color: transparent;
	border-top: 0px;
	border-bottom: 1px solid #CCCC66;
	padding-bottom: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
	color: #32342B;
}
.system_notice h3 {
	color: #32342B;
	background-color: #FFCC00;
}
.system_notice h4 {
	background-color: transparent;
	font-weight: bold;
	border-bottom: 1px dashed #FFCC00;
}

.system_notice .line {
	border-bottom: 1px dotted #CCCC66;
}

.system_notice .action {
	font-size: 11px;
}

/**
 * Special blocks for our form entry items on pages with lots of data.
 * Calls attention to the form block...
 */

.form_block {
	background-color: #D4D3FF;
	border: 2px solid #8585D6;
	color: #333333;;
	border-left: 0px;
	border-right: 0px;
	padding: 10px;
	margin-bottom: 10px;
}
tr.form_block td {
	border-bottom: 1px solid #8686d7;
	border-right-color: #afacff !important;
}
.form_block h2 {
	font-size: 17px;
	background-image: none;
	background-color: transparent;
	border-top: 0px;
	border-bottom: 1px solid #8585D6;
	color: #333333;;
	padding-bottom: 0px;
	margin-bottom: 10px;
	padding-top: 0px;
}
.form_block h3 {
	background-color: #9290D5;
	color: #fff;
	font-weight: normal;
}

.form_block .line {
	border-bottom: 1px dashed #afacff;
}

/**
 * Floating menu like on the project task page.
 */
.floating_menu {
	z-index: 300;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	background-color: #c7e4ba;
	border: 2px solid #272C24;
}
.floating_menu img {
	display: block;
	margin-bottom: 10px;
}
.floating_menu img.last {
	margin-bottom: 0px;
}
.floating_menu h3 {
	background-color: #416B2E;
	color: #fff;
	font-weight: normal;
}

.money_gain {
	color: #008800 !important;
}
.money_loss {
	color: #830516 !important;
}

.over_budget {
	color: red;
}

/* text input boxes */
.textInput {
	background-color: #fefefe;
	border: 1px solid #ACB5B9;
	padding: 5px;
}
.codeInput {
  background-color: #474241;
  background-color: #666;
  color: #fff;
  border: 1px solid #333;
  border-left: 4px solid #333;
  padding: 5px;
  font-family:'Andale Mono', 'Courier New', Courier, monospace !important;
}

.button {
	background-color: #3e3cad;
	background-image: url(/images/2/buttons/generic-bg.gif);
	background-position: bottom left;
	background-repeat: repeat-x;
	color: #fff !important;
	text-decoration: none;
	border: 1px solid #000;
	font-size: 15px;
	padding: 5px;
	cursor: pointer;
	cursor: hand;
}

.button.cancel {
	background-image: url(/images/2/buttons/cancel-bg.gif);
	background-color: #a43e44;
	font-weight: normal !important;
}


.button.disabled {
	background-image: none;
	background-color: #7a7a7a;
	color: #ccc !important;
	border-color: #666;
}

.button_cell {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.button_cell p.info {
	margin-top: 10px;
}

/* instructional text */
.instructional {
	color: #666;
	/*background-color: #CFDBF3;*/
	font-style: italic;
}

.important {
	font-weight: bold;
	color: #CC1A00;
}

.hlt, .highlight, td.hlt {
	background-color: #F9F594 !important;
}


/* TABLE STYLES ============================================ */
table.list {
	width: 100%;
}

table.list h1, table.list h2, table.list h3, table.list h4 {
	font-size: 11px;
	margin: 0px;
	padding-top:2px;
	padding-bottom:2px;
	padding: 0px;
	margin-top: 3px;
	line-height: 1em;
	color: #8A7875;
	font-weight: normal;
	border-bottom: 1px dotted #E6DEDD;
} 

table.list td {
	padding: 2px 8px;
	border-right: 1px dotted #D3D2D1;
}

table.list tr.odd td, .odd {
	background-color: #F3F2F1;
}

table.list tr.alt td {
}

table.list tr td.first {
	padding-left:10px;
}
table.list tr td.last, table.list tr.footer td.last {
	padding-right:10px;
	border-right: 0px;
}

table.list tr.complete td {
	background-color: #DBD7D2;
	border-color: #B9B3AC;
}

table.list tr td.icon {
	vertical-align: middle;
	text-align: center;
}

.numeric, table.list .numeric {
	text-align:right !important;
}
table.list tr th {
	font-weight: bold;
	/*text-transform:capitalize;*/
	padding: 0px 5px 0px 5px !important;
	padding: 5px;
	text-align: left;
	
		background-color: #ecdab0;
		border-right: 1px solid #F9CC6C;
		border-top: 1px solid #c6a963;
		border-bottom: 1px solid #c6a963;
	
	color: #4a2918;
	height: 30px !important;
	height: 20px;
	white-space: nowrap;
}
table.list tr th a:link, table.list tr th a:visited {
	color: #4a2918;
}
table.list tr th.first {
	padding-left:10px;
}
table.list tr th.last {
	border-right: 0px;
	padding-right: 10px !important;
}

table.list tr.footer td {
	font-weight:bold;
	font-style:italic;
	border-top: 1px solid #CFB675;
	border-bottom: 1px solid #CFB675;
	border-right: 1px dotted #F9CC6C;
	
		background-color: #ecdab0;
		border-color: #CFB675;
	
	color: #4a2918;
	text-transform:capitalize;
}

table.list tr.footer td.money_gain, table.list tr.footer td .numeric .money_gain {
	
}

table.list tr.summary td {
	background-color: #F0EBDB;
	border-color: #B9B6AC;
	font-style: italic;
	font-weight: bold;
}

table.list tr.summary.first td {
	border-top: 1px dashed #B9B6AC;
}

table.list tr.subhead td {
	font-weight: normal;
	background-color: #E0DFDE;
	padding-top: 4px;
	padding-bottom: 4px;
}


/* INNER TABLE */

table.list table.inner {
	width: 100%;
}
table.list table.inner td {
	padding: 2px;
	border: 0px;
	background-color: transparent;
}

table.list table.inner td.icon {
	vertical-align:middle;
	text-align:center;
	border-bottom:1px dotted #ccc;
	cursor: pointer;
	cursor: hand;
}

table.list .line, table.list tr.line td {
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom:1px dotted #ccc;
}

/* FORM CONTENT */
table.formContent {
	width: auto;
}

table.formContent.bigger td, .bigger {
	font-size: 1.3em;
}

table.formContent td {
	padding-right: 30px;
	text-align: left;
	vertical-align: middle;
	border: dotted;
}

.mini_links {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11px;
	font-style: italic;
}
.mini_links a:link, .mini_links a:visited {
	color: #8A7B75;
}

.mini_links.notice {
	color: #CC666E;
	font-weight: bold;
}

.weekend {
	background-color: #EBEAE9 !important;
}

/* PAGINATION ============================================= */
div.pagination {
	background-color: #eeeeee;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	text-align: right;
	color: #695245;
}
div.pagination span.current {
	background-color: transparent;
	color: #695245;
	border: 2px solid #cccccc;
}
div.pagination span.disabled {
	background-color: transparent;
	color: #999999;
} 
div.pagination a, div.pagination a:link, div.pagination a:visited {
	color: #695245 !important;
	text-decoration: none;
}
div.pagination a:hover {
	color: #f9f9f9 !important;
	background-color: #695245 !important;
}
div.pagination a, div.pagination span {
	padding: 0px 5px 0px 5px;
}
div.p * {
	font-size: 1.2em;
}

/* ERRORS ================================================= */
.fieldWithErrors input, .fieldWithErrors * option, .fieldWithErrors *, input .textInput .error {
  /*background-color: #F0DEDB;*/
	/*border-color: #CC7266 !important;*/
	background-color: #ffffcc !important;
	border: 2px solid #ff0000 !important;
}

.fieldWithErrors {
	float: left;
	margin: 0px !important;
}

.formError {
	color: #ff0000;
	font-style: normal;
	float:left;
	padding-top: 2px;
	padding-left: 10px;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* FLASH ============================================= */
#flash {
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 30px;
	/*background-color: #D5F7D4;
	border-top: 2px solid #429933;
	border-bottom: 2px solid #429933;*/
	background-color: #ffcc99;
	border-top: 4px solid #ff8159;
	border-bottom: 4px solid #ff8159;
	color: #333333;
}
#flash h2 {
	background-image: none;
	background-color: #0F8D0B;
	color: #fff;
	border: 0px;
}
#flash div.line, div.line2 {
  border-color: #0F8D0B;
}

#flash * {
	font-size: 1em;
	line-height: 1.4em;
}



#real_content_container {
	background-image: url(/images/2/content-right-bg.gif);
	background-position: top right;
	background-repeat: repeat-y;
}



#preview_blocker {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
	background-image: url(/images/2/preview-bg.gif);
	width: 100%;
	height: 100%;
	opacity: 0.3;
	filter: alpha(opacity=30);
}





/* HELP BUTTON */

#help_button_container {
	float:right;
	z-index: 100;
	margin-right: 10px;
	margin-top: 10px;
}
#help_button {
	width: 40px;
	height: 20px;
	background-image: url(/images/2/buttons/help-small.png) !important;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/2/buttons/help-small.png',sizingMethod='crop');
	background-repeat:no-repeat;
}

#current_user_msg {
	float: right;
	margin-top: 12px;
	margin-right: 10px;
	font-size: 12px;
}

#current_user_msg a {
	text-decoration: none;
}