<% item_groups = nominateable_groups %>

<div class="sub_block_b">
  <table class="content">
    <% 1.upto(items_rows_count(item_groups.size, options[:items_count_per_row])) do |r| %>
      <tr>
        <% 1.upto(options[:items_count_per_row]) do |c| %>
          <% if (i=c+(r-1)*options[:items_count_per_row]) <= item_groups.size %>
            <% item_group = item_groups[i-1] %>
            <td class="photo_item_cell">
              <div class="matrix_block">

                <div class="matrix_photo">
                  <%= render :partial => 'layouts/item_photo',
                              :locals => { :item => item_group[:nominateable],
                                          :photo_style => options[:photo_style] } %>
                </div>

                <div class="below_photo">
                  <%= render :partial => 'layouts/below_item_photo',
                              :locals => { :item => item_group[:nominateable],
                                          :show_title => true,
                                          :show_user => true,
                                          :show_photo_todo => false } %>
                  <em class="l2"><%= item_title(item_group[:nominatefor]) %></em>
                </div>

              </div>
            </td>
          <% else %>
            <% break %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
