<div id="notice_for_new_review">
	<%= render :partial => "/layouts/notice",
						 :locals => { :notice => nil } %>
</div>

<% if @current_user %>
	<div id="input_form_for_new_review">
		<%= render :partial => "/reviews/review_input", 
							 :locals => { :reviewable => reviewable,
							 						  :review => reviewable.reviews.build, 
							 						  :is_new => true, 
							 						  :review_error => false, 
							 						  :review_text => '', 
							 						  :quotation_submitter_id => nil, 
			 										  :quotation => nil,
			 										  :ref => ref } %>
	</div>
<% else %>
	<div class="todo">
		<% reviewable_id_sym = id_for(type_for(reviewable)).to_sym %>
		<em class='l1'><%= link_to "我要#{REVIEW_CN}", url_for(reviewable_id_sym => reviewable.id, :controller => 'reviews', :action => 'new') %></em>
	</div>
<% end %>