<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => reviews} %>
<% end %>

<div class="block_main">
	<%= render :partial => "/layouts/items_list",
						 :locals => {:item_type => 'review', 
						 						 :items => reviews,
						 						 :itemable_sym => 'reviewable', 
						 						 :show_photo => true, 
						 						 :show_title => false, 
						 						 :show_photo_todo => false, 
						 						 :show_parent => true,
						 						 :show_todo => show_todo} %>
</div>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => reviews} %>
<% end %>