<div id="reviews_wrapper" class="content_block">
	
	<div id="reviews_header" class="block_header">
		<%= render :partial => "/layouts/index_header", 
							 :locals => {:show_header_link => true, 
							 						 :show_new_link => false, 
							 						 :block_title => @block_title} %>
	</div>
	
	<div id="reviews_detail" class="block_main">	
		<div id="reviews_filter_bar">
			
		</div>
		
		<div id="reviews_list">
			<%= render :partial => "/reviews/reviews_list", 
								 :locals => { :reviews_set => @reviews_set, 
								 							:show_paginate => true, 
								 							:limit => nil, 
								 							:show_todo => @show_todo, 
								 							:delete_remote => false } %>
		</div>
	</div>
	
</div>
