<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => tags} %>
<% end %>

<div class="block_main">
	<div class="tag">
		<%= render :partial => "/taggings/tag_cloud",
							 :locals => {:tags => tags, 
							 						 :taggable_type => taggable_type} %>
	</div>
</div>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => tags} %>
<% end %>