<h1>Editing vote</h1>

<%= error_messages_for :vote %>

<% form_for(@vote) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @vote %> |
<%= link_to 'Back', votes_path %>
