<div class="overlay_backgroud">

</div>

<div class="overlay_wrapper">
  <div class="overlay_content">
    <div class="close">
      <%= link_to_function("x") do |page|
        page.hide "overlay"
      end %>
    </div>
      <div class="block_header">
        <% block_title = "#{wine.title}" %>
        <%= render :partial => "layouts/index_header",
                    :locals => { :show_header_link => false,
                                :show_new_link => false,
                                :block_title => block_title } %>
      </div>
      <div id="notice_for_wine" class="sub_block_lr">

      </div>
      <div id="wine_content" class="sub_block">
        <%= render :partial => "wines/wine_content",
                    :locals => { :item => wine } %>
      </div>
  </div>
</div>