/* For IE6 */
* html {

}
/* For IE7 */
* +html {

}

/* Common */
* { 
	margin: 0; padding: 0;
}
body, a, p, ol, ul, td, input, textarea, select, option, button {
  font-family: Verdana;
	font-size:   12px;
  line-height: 16px;
}
img {
	border: none;
	background-color: #ffffff;
}
body {
	width: 100%;
	background-color: #695245;
}
a, a:link, a:visited {
	text-decoration: none;
}
a:hover {
	background-color: transparent;
}
input {
	height: 18px;
	vertical-align: middle;
}
input.submit {
	height: 24px;
	width: 80px;
}
input.search {
	width: 210px;
}
input.search_button {
	width: 50px;
	height: 24px;
}
input.login_button {
	width: 50px;
	height: 24px;
}
input.text {
	width: 450px;
}
input.text_s {
	width: 200px;
}
input.check_box {
	margin-right: 2px;
}
* +html input.check_box {
	margin-top: 3px;
}
input.radio_button {
	margin-right: 2px;
}
* +html input.radio_button {
	margin-top: 3px;
}
textarea {
	width: 450px;
	height: 300px;
}
textarea.s {
	height: 150px;
}
ul {
	list-style: none;
}
ol {
	list-style: decimal;
	list-style-position: outside;
}

/* Tag */
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.1em; }
.css3 { font-size: 1.2em; }
.css4 { font-size: 1.3em; }
div.tag {
	padding-left: 10px;
	padding-right: 10px;
}

/* Header */
#header_wrapper {
	height: 70px;
	background-color: #428cbb;
	color: #ffffff;
}
#header_content {
	width: 980px;
	margin: 0px auto;
	padding: 0px 10px;
}

/* Logo */
#logo {
	padding-top: 10px;
	padding-left: 10px;
}
#logo img {
	background-color: transparent;
}
#logo a:hover {
	background-color: transparent;
}

/* Help */
#help {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	text-align: center;
	z-index: 1000;
}
#help a, #help a:link, #help a:visited {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ff8159;
	color: #695245;
}
#help a:hover {
	background-color: #ff8159;
	color: #ffffff;
}

/* Current User */
#current_user {
	float:right;
	margin-top: 10px;
	margin-right: 10px;
	z-index: 200;
	color: #f1f1f1;
}
#current_user a, #current_user a:link, #current_user a:visited {
	margin-right: 10px;
	color: #f1f1f1;
}
#current_user a:hover {
	background-color: #ffffff;
	color: #428cbb;
}

/* Footer */
#footer_wrapper {
	position: fixed;
	bottom: 0px;
	width: 100%;
	border-top: 4px solid #b8b9a7;
	background-color: #428cbb;
	color: #b8b9a7;
}
#footer_content {
	width: 980px;
	margin: 0px auto;
	padding: 5px 0px;
}
#footer_content a, #footer a:link, #footer a:visited {
	margin-left: 10px;
	color: #b8b9a7;	
}
#footer_content a:hover {
	background-color: #ffffff;
	color: #428cbb;
}
#footer_content span.copyright {
	margin-left: 10px;
	color: #b8b9a7;
}

/* Main Navigation */
#navigation {
	height: 26px;
	width: 980px;
	margin: auto;
	margin-top: -26px;
	white-space: nowrap;
	color: #ffffff;
}
#left_navigation {
	padding-left: 10px;
}
#right_navigation {
	float: right;
	padding-right: 10px;
}
#navigation ul {
	display: inline;
}
#navigation li {
	float: left;
	list-style: none;
	display: block;
	text-align: center;	
}
#navigation li a, #navigation li a:link, #navigation li a:visited {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 14px;
	background-color: #f1f1f1;
	color: #695245;
	text-align: center;
}
#navigation li a:hover {
	background-color: #ff8159;
	color: #ffffff;
}
#left_navigation li {
	margin-right: 5px;
}
#right_navigation li {
	margin-left: 5px;
}
#navigation li.active {
	margin-top: -3px;
}
#navigation li.active a, #navigation li.active a:link, #navigation li.active a:visited {
	padding-top: 8px;
	font-size: 14px;
	font-weight: bold;
	background-color: #695245;
	color: #ffffff;
}
#navigation li.active a:hover {
	background-color: #695245;	
}

/* Content Wrapper */
#content_wrapper {
	width: 980px;
	margin: 0px auto;
	padding-top: 0px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
}
* html #content_wrapper {
	padding-bottom: 0px;
}
/* Content Main */
#content_main {
	background-color: #695245;
	color: #373737;
}

/* Sub Navigation */
#sub_navigation {
	height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0px;
	color: #ffffff;
}
#sub_navigation a, #sub_navigation a:link, #sub_navigation a:visited {
	margin-right: 10px;
	font-size: 14px;
	color: #ffffff;
}
#sub_navigation a:hover {
	background-color: #ffffff;
	color: #695245;
}

/* Content Column */
#content_column {
	margin-right: 300px;
	padding-left: 10px;
	padding-right: 10px;
}
#content_column a, #content_column a:link, #content_column a:visited {
	color: #428cbb;
}
#content_column a:hover {
	background-color: #428cbb;
	color: #ffffff;
}

/* Content Table */
td {
	vertical-align: top;
}
td.right_colomn {
	width: 100%;
}
td.right_colomn_lined {
	width: 100%;
	border-bottom: 4px solid #f1f1f1;
}
td.label {
	width: 150px;
	padding-top: 7px;
	padding-right: 10px;
}
td.input {
	padding-top: 5px;
}
td.submit {
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
td.photo_item_cell {
	text-align: center;
}

/* Content Block */
.content_block {
	margin-bottom: 10px;
	border-top: #428cbb 4px solid;
	/*border-bottom: #428cbb 4px solid;*/
}

/* Block Header */
.block_header {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #99ccff;
}
.block_header h1 {
	font-size: 14px;
	font-weight: bold;
}
.block_header .block_header_link {
	float: right;
}
.block_header a, .block_header a:link, .block_header a:visited {
	color: #695245 !important;
}
.block_header a:hover {
	background-color: #695245 !important;
	color: #ffffff !important;
}

/* Block Main */
.block_main {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;	
}
.block_main table {
	width: 100%;
}
* html .block_main table {
	width: 99.6%;
}
.block_main label {
	float: right;
	text-align: right;
	font-weight: bold;
}
.block_main label.required {
	color: #e42300;
}
.block_main label.left {
	float: none;
}

/* Sidebar Colmun */
#sidebar_column {
	float: right;
	width: 290px;
	padding-right: 10px;
	padding-bottom: 0px;
	z-index: 1000;
}
#sidebar_column a, #sidebar_column a:link, #sidebar_column a:visited {
	color: #695245;
}
#sidebar_column a:hover {
	background-color: #695245;
	color: #ffffff;
}

/* Sidebar Block */
.sidebar_block {
	margin-bottom: 10px;
	background-color: #ffffcc;
}
.sidebar_block_header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fcc601;
}
.sidebar_block_header h1 {
	font-size: 12px;
	font-weight: bold;
	color: #373737;
}
.sidebar_block_main {
	padding: 10px;
}
.panel_block_header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #5d6266;	
}
.panel_block_header h1 {
	font-size: 12px;
	font-weight: bold;
	color: #b8b9a7;
}
.panel_block_main {
	padding: 10px;
}
.panel_block_main li {
	margin-bottom: 3px;
}
.sidebar_block label {
	float: right;
	text-align: right;
	font-weight: bold;
}

/* Sub Block */
div.sub_block {
	margin: auto;
	padding: 10px;
}
div.sub_block_s {
	margin: auto;
	width: 640px;
}
div.sub_block_header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #ffffff;
	background-color: #695245;
}
div.matrix_block {
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 106px;
}

/* Photo Div */
div.matrix_photo {
	margin: auto;
	margin-bottom: 5px;
	text-align: center;
}
div.list_photo {
	margin: auto;
	margin-bottom: 5px;
	text-align: center;	
}
div.portrait_photo {
	width: 160px;
	margin: auto;
	margin-bottom: 5px;
	text-align: center;	
}
div.full_photo {
	width: 648px;
	margin: auto;
	margin-bottom: 5px;
	text-align: center;
}
.full_photo img {
	border: 4px #eeeeee solid;
}
.matrix_photo img.cover {
	margin-top: -4px;
	border: 4px #ff8159 solid;
}
.matrix_photo a:hover, .list_photo a:hover, .portrait_photo a:hover, .full_photo a:hover {
	background-color: transparent !important;	
}
div.below_photo {
	text-align: center;
	color: #b8b9a7;
}
div.below_photo li {
	margin-bottom: 3px;
}

/* Other Div */
div.basic {
	margin-bottom: 10px;
	color: #b8b9a7;
	text-align: left;
}
div.basic h2 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
}
div.basic h2 a, div.basic h2 a:link, div.basic h2 a:visited {
	font-size: 14px;
	color: #ff8159 !important;
}
div.basic h2 a:hover {
	background-color: #ff8159 !important;
	color: #ffffff !important;
}
div.basic li {
	margin-bottom: 3px;
}
div.main {
	margin-bottom: 10px;
	text-align: left;
}
div.main li {
	margin-bottom: 5px;
}
div.main ol {
	padding-left: 25px;
}
div.main h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 4px solid #f1f1f1;
	color: #e42300;
	font-size: 14px;
	font-weight: normal;
}
div.todo {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #b8b9a7;
	text-align: left;
}
div.todo_right {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #b8b9a7;
	text-align: right;
}
div.label {
	margin-bottom: 5px;
}
div.input {
	margin-bottom: 5px;
}
div.error {
	margin-bottom: 5px;
}
div.submit {
	margin-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
}
div.prev_next {
	margin: auto;
	margin-bottom: 5px;
	width: 640px;
	color: #b8b9a7;
}

/* Pagination */
div.pagination {
	background-color: #f1f1f1;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	color: #695245;
}
div.pagination span.current {
	color: #695245;
	border: 2px solid #b8b9a7;
}
div.pagination span.disabled {
	color: #b8b9a7;
} 
div.pagination a, div.pagination a:link, div.pagination a:visited {
	color: #695245 !important;
}
div.pagination a:hover {
	color: #ffffff !important;
	background-color: #695245 !important;
}
div.pagination a, div.pagination span {
	padding: 0px 5px 0px 5px;
}

/* Error */
.fieldWithErrors * {
	background-color: #ffffcc;
	border: 2px solid #ff0000;
}
.formError {
	color: #ff0000;
	padding-top: 2px;
	padding-left: 10px;
}

/* Notice */
#flash {
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 15px;
	background-color: #ffcc99;
	border-top: 4px solid #ff8159;
	/*border-bottom: 4px solid #ff8159;*/
	color: #373737;
}
#system_notice {
	margin-bottom: 10px;
	padding: 10px;
	padding-left: 15px;
	background-color: #ccffcc;
	border-top: 4px solid #78b36d;
	/*border-bottom: 4px solid #78b36d;*/
	color: #373737;
}

/* Rating */
#rating {
	width: 170px;
	height: 50px;
	list-style: none;
	position: relative;
	overflow:visible;
	background:url(/images/rating/rating.png) 0px 0px no-repeat;
	margin-bottom: 5px;
}
#rating li {
	position: absolute;
	display: block;
	height: 50px;
	line-height: 12px;
	font-size: 115%;
	font-weight:bold;
}
#rating li a {
	display: block;
	height: 50px;
	width: 100%;
	text-decoration:none;
}

#r1{width: 17px;z-index: 200;}
#r2{width: 34px;z-index: 190;}
#r3{width: 51px;z-index: 180;}
#r4{width: 68px;z-index: 170;}
#r5{width: 85px;z-index: 160;}
#r6{width: 102px;z-index: 150;}
#r7{width: 119px;z-index: 140;}
#r8{width: 136px;z-index: 130;}
#r9{width: 153px;z-index: 120;}
#r10{width: 170px;z-index: 110;}

#rating li a:hover {
	background:url(/images/rating/rating.png) 0px -100px;
}
#rating li a span {
	display: none; 
}
#rating li a:hover span {
	display: block;
	text-indent: 0;
	color: #373737;
	font-weight: bold;
	position: absolute;
	top: 55px;
	width: 170px;
	text-align:center;
}
.current_rating {
	background:url(/images/rating/rating.png) 0px -50px no-repeat;
	position: absolute;
	height: 50px;
	display: block;
	text-indent: -9999px; /* Hide the current rating text */
	overflow: hidden;
	z-index: 1;
}
div.rating {
	float: right;
	position: relative;
	padding: 10px;
}

/* Welcome */
div.welcome {
	background-color: #ffffff;
	padding-top: 20px;
	text-align: center;
	border-top: #428cbb 8px solid;
	color: #695245;
}
div.welcome em {
	font-weight: bold;
	font-size: 18px;
	font-style: normal;
	color: #ff8159;
}
div.welcome span a:hover {
	background-color: transparent !important;
}
div.welcome div.button {
	background-color: #428cbb;
	display: block;
	padding: 10px;
	height: 15px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;	
}
div.welcome div.button a, div.welcome div.button a:link, div.welcome div.button a:visited {
	color: #ffffff !important;
	font-weight: bold;
	font-size: 18px;
}
div.welcome div.button a:hover {
	color: #ff8159 !important;
}