/* For IE6 */
* html {

}
/* For IE7 */
* +html {

}

/* Common */
* { 
    margin: 0; padding: 0;
	word-break: break-all;
}
body, a, p, ol, ul, td, input, textarea, select, option, button {
    font-family: Verdana, Arial, sans-serif;
    font-size:   12px;
    line-height: 16px;
}
* html body {
	height: 100%;	
}
img {
	border: none;
	/* background-color: #ffffff; */
	background-color: transparent !important;
}
img.icon {
	margin-bottom: -2px;
	margin-right: 0px;
	background-color: transparent !important;
	width: 12px;
	height: 12px;
}
img.logo {
	background-color: transparent !important;
}
body {
	background-color: #ffffff;
}
em {
	font-style: normal;
	font-weight: bold;
}
a, a:link, a:visited {
	text-decoration: none;
}
a:hover {
	background-color: transparent;
}
a.current, a.current:link, a.current:visited {
	font-weight: bold;
}
a.notice {
	color: #78b36d !important;
	background-color: transparent !important;
	padding: 0px;
}
a.notice:hover {
	background-color: transparent !important;
}
a.notice img {
	margin-bottom: -4px;
	margin-right: 3px;
	width: 16px;
	height: 16px;
}
em a {
	font-weight: normal;
	padding: 3px 10px;
	width: 50px;
	text-align: center;
	color: #ffffff !important;
	background-color: #ff8159 !important;
}
em a:hover {
	background-color: #428cbb !important;
}
em.highlight a {
	background-color: #78b36d !important;
}
em.highlight a:hover {
	background-color: #428cbb !important;
}
em.most {
	color: #78b36d;
	font-weight: normal;
}
em.more {
	color: #e42300;
	font-weight: normal;
}
em.n0 {
	color: #b8b9a7;
	font-weight: normal;
}
em.n1 {
	color: #373737;
	font-weight: normal;
}
em.l0 {
	color: #428cbb;
	font-weight: normal;		
}
em.l0 a {
	background-color: #428cbb !important;
}
em.l0 a:hover {
	background-color: #428cbb !important;
}
em.l1 {
	color: #ff8159;
	font-weight: normal;	
}
em.l1 a {
	background-color: #ff8159 !important;
}
em.l1 a:hover {
	background-color: #428cbb !important;
}
em.l2 {
	color: #78b36d;
	font-weight: normal;
}
em.l2 a {
	background-color: #78b36d !important;
}
em.l2 a:hover {
	background-color: #428cbb !important;
}
em.l3 {
	color: #e42300;
	font-weight: normal;
}
em.l3 a {
	background-color: #e42300 !important;
}
em.l3 a:hover {
	background-color: #428cbb !important;
}
em.normal {
	color: #373737;
	font-weight: normal;
}
em.none {
	font-weight: normal;
}
em.red {
	color: red;
}
em.white {
	color: #ffffff;
}
em.s {
	font-size: 12px;
	color: #695245;
}
em.vote {
	color: #b8b9a7;
	font-weight: normal;
}
em.vote a {
	padding: 1px 0px;
	display: inline-block;
	width: 18px;
	background-color: #78b36d !important;
}
em.vote a:hover {
	background-color: #428cbb !important;
}
span.bold {
	font-weight: bold;
}
span.bold a {
	font-weight: bold;
}
span.vote {
	padding: 1px 0px;
	display: inline-block;
	width: 18px;
	color: #b8b9a7;
	background-color: #f1f1f1 !important;
}
span.highlight {
	color: #78b36d;
}
span.script {
	font-size: 9px;
	font-weight: bold;
	color: #ffcc99;
}
span.source {
	display: inline !important;
	font-weight: normal !important;
	font-size: 9px !important;
	color: #b8b9a7;
}
span.subtitle {
	font-weight: bold;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;	
}
span.text {
	font-weight: normal !important;
}
span.text a {
	font-weight: normal;
}
span.pop_tips {
	background-color: transparent !important;
}
span.pop_tips a {
	background-color: transparent !important;
}
label {
	white-space: nowrap;
}
select {
	height: 22px;
}
input {
	height: 18px;
	vertical-align: middle;
}
input.file {
	height: 24px;
	width: 450px;
}
input.submit {
	height: 24px;
	width: 100px;
}
input.submit_s {
	height: 24px;
	width: auto;
}
input.search {
	width: 200px;
}
input.search_button {
	width: 50px;
	height: 24px;	
}
input.text {
	width: 450px;
	min-height: 20px;
}
input.text_s {
	width: 190px;
}
input.check_box {
	margin-right: 4px;
}

/** +html input.check_box {
	margin-top: 3px;
}*/
input.radio_button {
	margin-right: 4px;
}
/** +html input.radio_button {
	margin-top: 3px;
}*/
textarea {
	width: 450px;
	height: 300px;
}
textarea.s {
	height: 150px;
}
textarea.xs {
	height: 60px;
	width: 300px;
}
ul {
	list-style: none;
}
ol {
	list-style: decimal;
	list-style-position: outside;
}
.wide_space {
	word-spacing: 5px;
}

/* Tag */
.css1 { 
	font-size: 1em; 
	line-height: 24px;
	margin-right: 5px;
}
.css2 { 
	font-size: 1.1em; 
	line-height: 24px;
	margin-right: 5px;
}
.css3 { 
	font-size: 1.2em; 
	line-height: 24px;
	margin-right: 5px;
}
.css4 { 
	font-size: 1.3em; 
	line-height: 24px;
	margin-right: 5px;
}
.css5 { 
	font-size: 1.4em; 
	line-height: 24px;
	margin-right: 5px;
}
.css6 { 
	font-size: 1.5em; 
	line-height: 24px;
	margin-right: 5px;
}
.css7 { 
	font-size: 1.5em; 
	font-weight: bold;
	line-height: 24px;
	margin-right: 5px;
}
div.tag {
	padding-left: 10px;
	padding-right: 10px;
}

/* Header */
#header_wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 0px 0px;
	color: #ffffff;
}
#header_content {
	width: 980px;
	height: 70px;
	margin: 0px auto;
	background-color: #428cbb;
}

/* Logo */
#logo {
	padding-top: 5px;
	padding-left: 10px;
}
#logo img {
	background-color: transparent !important;
}
#logo a:hover {
	background-color: transparent !important;
}

/* Help */
#help {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
	text-align: center;
	z-index: 1000;
}
#help a, #help a:link, #help a:visited {
	padding-left: 5px;
	padding-right: 5px;
	background-color: #ff8159;
	color: #695245;
}
#help a:hover {
	background-color: #ff8159;
	color: #ffffff;
}

/* Current User */
#current_user {
	float: right;
	margin-top: 10px;
	padding-right: 13px;
	z-index: 200;
	color: #f1f1f1;
}
#current_user a, #current_user a:link, #current_user a:visited {
	margin-right: 10px;
	color: #f1f1f1;
}
#current_user a:hover {
	background-color: #ffffff;
	color: #428cbb;
}

/* Footer */
#footer_wrapper {
	clear: both;
	width: 100%;
	margin: 0px auto;
	padding: 0px 0px;
	color: #b8b9a7;
}
#footer_content {
	width: 950px;
	margin: 0px auto;
	padding: 5px 15px;
	border-top: 1px solid #b8b9a7;
	background-color: #428cbb;
}
#footer_content a, #footer a:link, #footer a:visited {
	margin-right: 10px;
	color: #b8b9a7;	
}
#footer_content a:hover {
	background-color: #ffffff;
	color: #428cbb;
}
#footer_content span.copyright {
	color: #b8b9a7;
	float: right;
    white-space: nowrap;
    width: 600px;
    text-align: right;
}
#footer_content .seo_link {
	margin: 0px -15px;
	margin-bottom: -5px;
	margin-top: 5px;
	padding: 2px 15px;
	text-align: center;
	background-color: #b8b9a7;
}
.seo_link a {
	color: #ff8159 !important;
}

/* Main Navigation */
#navigation {
	height: 26px;
	width: 980px;
	margin: 0px auto;
	padding: 0px 0px;
	padding-top: 3px;
	margin-top: -29px;
	white-space: nowrap;
	color: #ffffff;
}
#left_navigation {
	padding-left: 10px;
}
#right_navigation {
	float: right;
	padding-right: 10px;
}
#navigation ul {
	display: inline;
}
#navigation li {
	float: left;
	list-style: none;
	display: block;
	text-align: center;	
}
#navigation li a, #navigation li a:link, #navigation li a:visited {
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 14px;
	background-color: #695245;
	color: #f1f1f1;
	text-align: center;
	height: 16px;
}
* html #navigation li a, * html #navigation li a:link, * html #navigation li a:visited {
	height: auto;
}
* +html #navigation li a, * +html #navigation li a:link, * +html #navigation li a:visited {
	line-height: 18px;
}
#navigation li a:hover {
	background-color: #ff8159;
	color: #ffffff;
}
#left_navigation li {
	margin-right: 5px;
}
#right_navigation li {
	margin-left: 5px;
}
#navigation li.active {
	margin-top: -3px;
}
#navigation li.active a, #navigation li.active a:link, #navigation li.active a:visited {
	padding-top: 8px;
	font-size: 14px;
	font-weight: bold;
	background-color: #ffffff;
	color: #695245;
}
#navigation li.active a:hover {
	background-color: #ffffff;	
}

/* Content Wrapper */
#content_wrapper {
	width: 980px;
	margin: 0px auto;
	min-height: 480px;
}
/* Content Main */
#content_main {
	/*background-color: #695245;*/
	color: #373737;
	margin: 0px auto;
	width: 980px !important;
}

/* Sub Navigation */
#sub_navigation {
	height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 23px;
	padding-right: 10px;
	margin: 0px;
	color: #695245;
}
#sub_navigation a, #sub_navigation a:link, #sub_navigation a:visited {
	margin-right: 10px;
	font-size: 14px;
	color: #695245;
}
#sub_navigation a:hover {
	background-color: #695245;
	color: #ffffff;
}
#shotcut_bar {
	float: right;
	font-size: 12px;
}
#shotcut_bar a, #shotcut_bar a:link, #shotcut_bar a:visited {
	margin-right: 0px;
	margin-left: 3px;
	font-size: 12px;
}

/* Content Column */
#content_column {
	margin-right: 300px;
	/*width: 680px;*/
	padding: 0px 0px;
}
#content_column a, #content_column a:link, #content_column a:visited {
	color: #428cbb;
}
#content_column a:hover {
	background-color: #428cbb;
	color: #ffffff;
}
#content_column a.title, #content_column a.title:link, #content_column a.title:visited {
	color: #ff8159;
}
#content_column a.title:hover {
	background-color: #ff8159;
	color: #ffffff;
}

/* Review */
#reviews_list_content {
	text-align: left;
}
#reviews_list_content table.content {
	width: 100%;
}
#reviews_list_content td.right_column_lined {
	border: none;
}
#reviews_list_content .sub_block_tb {
	padding: 0px;
}
div.group_by {
	padding: 10px;
	padding-bottom: 0px;
	white-space: nowrap;
	text-align: center;
}
em.group_by {
	padding: 0px 2px;
	display: block;
	background-color: #d4ccbf;
	color: #695245;	
	text-align: center;
}
.group_by_title {
	padding: 10px;
	padding-bottom: 0px;
	white-space: nowrap;
}
.group_by_title em {
	padding: 0px 2px;
	display: block;
	background-color: #d4ccbf;
	color: #695245;	
}
.quotation {
	padding: 5px 8px;
	margin-bottom: 5px;
	background-color: #eceff5;
	font-size: 12px;
	color: #b8b9a7;
}
.quotation h3 {
	font-size: 12px;
}

/* Content Table */
table.content {

}
table.photo {
	
}
.sidebar_panel_main table.content {
	padding: 0px;
}
td {
	vertical-align: top;
}
td.left_column {
	padding-top: 3px;
}
td.left_column_lined {
	border-bottom: 1px dashed #f1f1f1;
}
td.middle_column {
	white-space: nowrap;
}
td.right_column {
	width: 100%;
}
td.right_column_lined {
	width: 100%;
	border-bottom: 1px dashed #f1f1f1;
}
td.label {

}
td.label label {
	margin-top: 7px;
	margin-right: 10px;
	width: 150px;
	float: right;
	text-align: right;
	font-weight: bold;
}
label.required {
	color: #e42300;
}
.panel_block_main td.label label, .overlay_content td.label label {
	width: auto;
}
td.input {
	width: 100%;
}
td.input div.input {
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
}
td.input div.radio {
	margin-top: 7px;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 0px;	
}
* +html td.input div.radio {
	margin-top: 5px;
}
td.input div.text {
	margin-top: 7px;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 0px;	
	color: #78b36d;
}
td.input div.info {
	margin-top: 7px;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
}
td.input div.submit {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 10px;
}
td.photo_item_cell {
	text-align: center;
}

/* Content Block */
.content_block {
	margin-bottom: 10px;
	border-top: 1px #428cbb solid;
	/*border-bottom: 1px #f1f1f1 solid;
	border-top: #428cbb 4px solid;*/
}

/* Block Header */
.block_header {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #99ccff;
}
.block_header h1 {
	font-size: 14px;
	font-weight: bold;
	color: #695245;
    white-space: nowrap;
}
.block_header_link {
	float: right;
	color: #b8b9a7;
}
.block_header a, .block_header a:link, .block_header a:visited {
	color: #695245 !important;
}
.block_header a:hover {
	background-color: transparent !important;
	color: #ff8159 !important;
}

/* Block Main */
.block_main {
	background-color: #ffffff;
	border-bottom: 1px #f1f1f1 solid;
	border-top: none;
}
.block_main table {
	margin: 0px auto;
}
.block_main label {
	float: right;
	text-align: right;
	font-weight: bold;
}
.block_main label.required {
	color: #e42300;
}
.block_main label.left {
	float: none;
}

/* Sidebar Colmun */
#sidebar_column {
	float: right;
	width: 290px;
	padding-right: 0px;
	z-index: 1000;
}
#sidebar_column a, #sidebar_column a:link, #sidebar_column a:visited {
	color: #695245;
}
#sidebar_column a:hover {
	background-color: #695245;
	color: #ffffff;
}

/* Sidebar Block */
.sidebar_block {
	margin-bottom: 10px;
	background-color: #f5f5f5;
}
.sidebar_panel {
	margin-bottom: 10px;
	background-color: #ffffdd;
}
.sidebar_block label, .sidebar_panel label {
	float: right;
	text-align: right;
	font-weight: bold;
	width: auto !important;
}
.sidebar_block input.submit, .sidebar_panel input.submit {
	width: 50px !important;
	height: 24px !important;	
}
.sidebar_block_header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #d4ccbf;
	border-top: 1px #695245 solid;
}
.sidebar_block_header h1 {
	font-size: 12px;
	font-weight: bold;
	color: #695245;
}
.sidebar_block_header h1 em {
	color: #ff8159;
}
.sidebar_block_header_link {
	float: right;
	color: #b8b9a7;
}
.sidebar_block_header_link a, .sidebar_block_header_link a:link, .sidebar_block_header_link a:visited {
	color: #695245 !important;
}
.sidebar_block_header_link a:hover {
	background-color: transparent !important;
	color: #ff8159 !important;
}
.sidebar_block_main {
	padding: 10px;
	border: 1px #f1f1f1 solid;
	border-top: none;
}
.sidebar_panel_header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #ffcc99;	
	border-top: 1px #695245 solid;
}
.sidebar_panel_header h1 {
	font-size: 12px;
	font-weight: bold;
	color: #695245;
}
.sidebar_panel_main {
	padding: 10px;
	border: 1px #f1f1f1 solid;
	border-top: none;
}
.sidebar_panel_main .sub_block_tb, .sidebar_block_main .sub_block_tb {
	padding: 0px;
}
.sidebar_panel_main li {
	margin-bottom: 3px;
}
.sidebar_todo_button {
	background-color: #ff8159;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	border-top: 1px #f1f1f1 solid; 
}
.sidebar_todo_button a, .sidebar_todo_button a:link, .sidebar_todo_button a:visited {
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 12px !important;
	font-weight: bold;
	color: #ffffff !important;
}
.sidebar_todo_button a:hover {
	background-color: #428cbb !important;
}

/* Sub Block */
.sub_block {
	padding: 10px;
	margin: auto;
}
.sub_block_o {
	padding: 10px 20px;
}
.sub_block_s {
	margin: auto;
	width: 660px;
}
.sub_block_lr {
	margin: auto;
	padding: 0px 10px;
}
.sub_block_tb {
	margin: auto;
	padding: 10px 0px;
}
.sub_block_t {
	margin: auto;
	padding-top: 10px;
}
.sub_block_b {
	margin: auto;
	padding-bottom: 10px;
}
.sub_block_header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #f1f1f1;
	background-color: #695245;
}
.sub_block_header h1 {
	font-size: 12px;
}
.matrix_block {
	margin: auto;
	padding-top: 10px;
	width: 106px;
	text-align: center !important;
}
.sidebar_block_main .matrix_block {
	width: 64px;
	padding: 0px;
}
.welcome_content .matrix_block {
	width: 64px;
	padding: 10px 0px;
}

/* Photo Div */
div.matrix_photo {
	margin: 0px auto;
	padding: 4px 0px;
	text-align: center;
	height: 100px;
}
* html .matrix_photo {
	height: 105px !important;
}
.sidebar_block_main .matrix_photo, .welcome_content .matrix_photo, .items_bar .matrix_photo {
	height: 48px;
}
* html .sidebar_block_main .matrix_photo, * html .welcome_content .matrix_photo, * html .items_bar .matrix_photo {
	height: 57px !important;
}
div.list_photo {
	margin: auto;
	margin-bottom: 5px;
	text-align: center;	
}
div.portrait_photo {
	width: 160px;
	margin: auto;
	margin-bottom: 5px;
	text-align: center;	
}
div.full_photo {
	width: 658px;
	padding: 10px;
	margin: auto;
	text-align: center;
	background-color: #f5f5f5;
	border-top: #f1f1f1 solid 1px;
	border-bottom: #f1f1f1 solid 1px;
}
* html div.full_photo {
	padding: 10px 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
	margin-right: -2px;	
}
div.cover_photo {
	margin-bottom: 5px;
}
div.full_photo img, div.cover_photo img {
	background-color: transparent !important;
}
span.normal_photo {
	text-align: left;		
}
.matrix_photo img {
	border: #f1f1f1 solid 1px;
}
.matrix_photo img {
	width: 96px;
	height: 96px;
}
.sidebar_block_main .matrix_photo img, .welcome_content .matrix_photo img, .items_bar .matrix_photo img {
	width: 48px;
	height: 48px;
}
.matrix_photo img.cover {
	margin-top: -3px;
	border: 4px #ff8159 solid;
}
.matrix_photo img.focus {
	margin-top: -3px;
	border: 4px #428cbb solid;		
}
.matrix_photo a:hover, .list_photo a:hover, .portrait_photo a:hover, .full_photo a:hover, .normal_photo a:hover, .partner_photo a:hover, #entriable_photo a:hover {
	background-color: transparent !important;	
}
.matrix_photo a:hover img {
	margin-top: -3px;
	border: 4px #fcc601 solid;	
}
div.below_photo {
	margin: 0px auto;
	text-align: center;
	color: #b8b9a7;
}
#reviews_detail div.below_photo {
	width: 96px;
}
#recipes_detail div.below_photo {
	width: 160px;
}
div.matrix_block div.below_photo {
	width: 96px !important;
}
div.below_photo li {
	margin-bottom: 3px;
}

/* Other Div */
div.basic {
	margin-bottom: 10px;
	color: #b8b9a7;
	text-align: left;
}
div.basic h2 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
div.basic h2 a, div.basic h2 a:link, div.basic h2 a:visited {
	font-weight: normal;
	font-size: 14px;
	color: #ff8159 !important;
}
div.basic h2 a:hover {
	background-color: #ff8159 !important;
	color: #ffffff !important;
}
div.basic h2.normal a {
	font-size: 12px;
}
div.basic li {
	margin-bottom: 3px;
}
div.photos {
	width: 658px;
	padding: 10px;
	margin: 10px -10px;
	text-align: center;
	background-color: #f5f5f5;
	border-top: #f1f1f1 solid 1px;
	border-bottom: #f1f1f1 solid 1px;
	color: #b8b9a7
}
* html div.photos {
	padding: 10px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -8px;
	margin-right: -12px;
}
#photos_filter_bar {
	text-align: left;
	margin-bottom: 10px;
}
#photos_todo_bar {
	margin-top: 3px;
}
div.photos div.sub_block_tb {
	padding: 0px;
}
div.photos div.matrix_block {
	padding: 0px;
}
div.photos a:hover {
	background-color: transparent !important;	
}
div.photos div.below_photo a:hover, div.photos #photos_filter_bar a:hover {
	background-color: #428cbb !important;
	color: #ffffff !important;
}
div.video {
	width: 658px;
	padding: 10px;
	margin: 10px -10px;	
	text-align: center;
	background-color: #f5f5f5;
	border-top: #f1f1f1 solid 1px;
	border-bottom: #f1f1f1 solid 1px;
	color: #b8b9a7;
}
* html div.video {
	padding: 10px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -8px;
	margin-right: -12px;
}
#video_todo_bar {
	margin-top: 3px;
}
div.main {
	margin-bottom: 10px;
	text-align: left;
}
div.main li {
	margin-bottom: 5px;
}
div.main ol {
	padding-left: 40px;
	font-weight: bold;
}
div.main ol span.subtitle {
	margin-left: -40px;
}
div.item_detail ul span.text {
	margin-left: 24px;
}
div.main h3 {
	margin: 10px -10px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #f1f1f1;
	color: #e42300;
	font-size: 14px;
	font-weight: normal;
}
* html div.main h3 {
	margin: 10px -8px;
	padding-left: 8px;
}
div.todo {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #b8b9a7;
	text-align: left;
}
div.todo_right {
	margin-top: 5px;
	/*margin-bottom: 10px;*/
	color: #b8b9a7;
	text-align: right;
}
div.todo a, div.todo_right a {
	margin-right: 0px;
}
div.todo_button {
	background-color: #ff8159;
	font-size: 12px;
	color: #ffffff;
	width: 120px;
	text-align: center;
}
div.rating div.todo_button {
	margin-top: 20px;
	margin-left: 25px;
}
.todo_button a, .todo_button a:link, .todo_button a:visited {
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px !important;
	color: #ffffff !important;
}
.todo_button a:hover {
	background-color: #428cbb !important;
}
div.label {
	margin-bottom: 5px;
}
div.input {
	margin-bottom: 5px;
}
div.error {
	margin-bottom: 5px;
}
div.submit {
	margin-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
}
div.submit input {
	height: 24px;
	width: 100px;
}
div.prev_next {
	padding: 10px;
	color: #b8b9a7;
}

/* Pagination */
div.pagination {
	background-color: #ffffff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 13px;
	padding-right: 13px;
	text-align: right;
	color: #695245;
}
div.pagination span.current {
	color: #695245;
	border: 2px solid #b8b9a7;
}
div.pagination span.disabled {
	color: #b8b9a7;
} 
div.pagination a, div.pagination a:link, div.pagination a:visited {
	color: #695245 !important;
}
div.pagination a:hover {
	color: #ffffff !important;
	background-color: #695245 !important;
}
div.pagination a, div.pagination span {
	padding: 0px 5px 0px 5px;
}
.item_user {
	margin-top: 3px;
	font-size: 9px;
}
.item_user a {
	font-size: 9px;
}

/* Error */
.fieldWithErrors * {
	background-color: #ffffdd;
	border: 2px solid #ff0000;
}
div.radio .fieldWithErrors {
	display: inline;
}
.formError {
	color: #ff0000;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

/* Notice */
#flash {
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 5px;
	background-color: #ffcc99;
	border-top: 1px #ff8159 solid;
	/*border-top: 4px solid #ff8159;*/
	/*border-bottom: 4px solid #ff8159;*/
	color: #373737;
    white-space: nowrap;
}
#system_notice {
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 5px;
	background-color: #ccffcc;
	border-top: 1px #78b36d solid;
	/*border-top: 4px solid #78b36d;*/
	/*border-bottom: 4px solid #78b36d;*/
	color: #373737;
    white-space: nowrap;
}
.notice {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #ffcc99;
	/*border-top: 1px #ff8159 solid;*/
	/*border-top: 4px solid #ff8159;*/
	/*border-bottom: 4px solid #ff8159;*/
	color: #373737;	
}
.close {
	float: right;
	margin-top: -10px;
	font-weight: bold;
}
.close a:link, .close a:link, .close a:visited {
	color: #b8b9a7 !important;
}
.close a:hover {
	background-color: transparent !important;
	color: #373737 !important;
}
.quotation .close {
	margin-top: -5px;
}

/* Stats */
div.item_stats {
	float: right;
	margin-top: 10px;
	padding-right: 10px;
	color: #b8b9a7;
	width: 200px;
}
div.item_rating {
	width: 70px;
	height: 60px;
	border: solid 1px #f1f1f1;
	text-align: center;
	padding: 14px 0px;
}
* html div.item_rating {
	margin-top: -90px;
}
* +html div.item_rating {
	margin-top: -90px;
}
div.item_rating span.rating_value {
	display: block;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
	color: #e42300;
}
div.item_rating span.ratings_count {
	display: block;
	margin-top: 2px;
}
div.item_rating span.rating_rank {
	display: block;
	margin-top: 2px;
	color: #e42300;
	font-weight: bold;
}
div.stats_data {
	float: right;
	padding: 3px 13px;
	border: solid 1px #f1f1f1;
	border-left: none;
	width: 102px;
	height: 82px;
}
div.stats_data span.stats_entry {
	display: block;
	color: #78b36d;
}
div.my_rating {
	height: 40px;
	border: solid 1px #f1f1f1;
	border-top: none;
	padding: 3px 14px;
}
div.my_rating_at_review {
	padding: 5px 10px 0px 10px;
	color: #b8b9a7;
}
div.my_rating span.my_rating_value, div.my_rating_at_review span.my_rating_value {
	color: #e42300;
}
div.my_rating span.my_rating_rank, div.my_rating_at_review span.my_rating_rank {
	color: #e42300;
}
div.my_rating #rating, div.my_rating_at_review #rating {
	margin-top: 3px;
}

/* Rating */
#rating {
	width: 170px;
	height: 18px;
	list-style: none;
	position: relative;
	overflow:visible;
	background:url(/images/rating/rating.png) 0px -32px no-repeat;
	margin-bottom: 5px;
}
#rating li {
	position: absolute;
	display: block;
	height: 18px;
	line-height: 12px;
	font-size: 115%;
	font-weight:bold;
}
#rating li a {
	display: block;
	height: 18px;
	width: 100%;
	text-decoration:none;
}

#r5{width: 8.5px;z-index: 200;}
#r10{width: 17px;z-index: 195;}
#r15{width: 25.5px;z-index: 190;}
#r20{width: 34px;z-index: 185;}
#r25{width: 42.5px;z-index: 180;}
#r30{width: 51px;z-index: 175;}
#r35{width: 59.5px;z-index: 170;}
#r40{width: 68px;z-index: 165;}
#r45{width: 76.5px;z-index: 160;}
#r50{width: 85px;z-index: 155;}
#r55{width: 93.5px;z-index: 150;}
#r60{width: 102px;z-index: 145;}
#r65{width: 110.5px;z-index: 140;}
#r70{width: 119px;z-index: 135;}
#r75{width: 127.5px;z-index: 130;}
#r80{width: 136px;z-index: 125;}
#r85{width: 144.5px;z-index: 120;}
#r90{width: 153px;z-index: 115;}
#r95{width: 161.5px;z-index: 110;}
#r100{width: 170px;z-index: 105;}

#rating li a:hover {
	background:url(/images/rating/rating.png) 0px -132px;
}
#rating li a span {
	display: none; 
}
#rating li a:hover span {
	display: block;
	text-indent: 0;
	color: #373737;
	font-weight: bold;
	position: absolute;
	top: 23px;
	width: 170px;
	text-align:center;
}
.current_rating {
	background:url(/images/rating/rating.png) 0px -82px no-repeat;
	position: absolute;
	height: 18px;
	display: block;
	text-indent: -9999px; /* Hide the current rating text */
	overflow: hidden;
}
div.rating {
	float: right;
	margin-top: 10px;
	padding-right: 10px;
	color: #b8b9a7;
}
div.rating em {
	color: #e42300;
	font-weight: normal;
}
span.rating {
	color: #78b36d;
}

/* Welcome */
div.welcome {
	background-color: #ffffff;
	text-align: center;
	margin-bottom: 10px;
	color: #695245;
	border-top: 8px #428cbb solid;
}
div.welcome_content {
	padding: 0px;
	padding-top: 20px;
}
div.welcome_content em {
	font-weight: bold;
	font-size: 14px;
	font-style: normal;
	color: #428cbb;
	padding: 5px 10px;
}
div.welcome_content div.slogan {
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    color: #ff8159;
}
div.welcome_content table {
	margin: auto;
}
div.welcome_content span a:hover {
	background-color: transparent !important;
}
div.welcome_content #random_items_bar {
	border: none;
	border-top: solid 1px #f1f1f1;
	border-bottom: solid 1px #f1f1f1;
	background-color: #f5f5f5;
	margin-top: 20px;
}
div.welcome_content .sub_block_tb {
	padding: 0px !important;
}
div.welcome_todo_button {
	margin: 0px auto;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}
div.welcome_todo_button a, div.welcome_todo_button a:link, div.welcome_todo_button a:visited {
	display: inline-block;
	padding: 10px 40px;
	background-color: #ff8159;
	color: #ffffff !important;
	font-weight: bold;
	font-size: 18px;
}
div.welcome_todo_button a:hover {
	background-color: #428cbb !important;
}

/* User Bar */
.user_bar {
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	border-top: 1px #ffffdd solid;
	border-top: 1px #ffffdd solid;
	background-color: #ffffdd;
}
.user_portrait {
	margin-right: 10px;
}
.user_portrait a:hover {
	background-color: transparent !important;
}
.user_portrait img {
	width: 48px;
	height: 48px;
}
.user_bar_username {
	color: #695245;
	margin-bottom: 1px;
	font-size: 16px;
	font-weight: bold;
}
.user_bar_username span {
	font-size: 12px;
	font-weight: normal;
}
.user_bar_info {
	color: #b8b9a7;
	margin-bottom: 1px;
}
.user_bar_link {
	color: #b8b9a7;
}
.todo_block {
	float: right;
	color: #78b36d;
}
.todo_block span {
	margin-left: 5px;
	color: #b8b9a7;
}

/* Items Bar */
.items_bar {
	color: #b8b9a7;
}
.items_bar table {
	margin-left: 10px !important;
}
.items_bar .sub_block_tb {
	padding: 0px;
}
.items_bar .block_main {
	border: none !important;
	margin-top: -5px;
}
.items_bar .matrix_block {
	width: 64px;
	padding: 0px;
}

/* Rank */
#rank_list_wrapper .sub_block_lr {
	padding: 0px 4px;
}
#rank_list_wrapper h2 a, #rank_list_wrapper h2 a:link, #rank_list_wrapper h2 a:visited {
	font-size: 12px;
}
#rank_list_wrapper span.rank_top3 {
	margin-top: 4px;
	display: block;
	padding: 1px;
	background-color: #ff8159;
	color: #ffffff;
	font-weight: bold;
	width: 20px;
	text-align: center;
}
#rank_list_wrapper span.rank {
	margin-top: 4px;
	display: block;
	padding: 1px;
	background-color: #428cbb;
	color: #ffffff;
	font-weight: bold;
	width: 20px;
	text-align: center;
}
#rank_list_wrapper div.basic {
	margin-bottom: 5px;
}
#rank_list_wrapper .sidebar_block_main {
	padding-bottom: 5px;
}
#rank_list_wrapper div.list_photo img {
	width: 48px;
	height: 48px;
	border: #f1f1f1 solid 1px;
}
#highlighted_item {
	border-top-color: red;
}
#highlighted_item .block_header {
	background-color: #ff8159;
}
#highlighted_item h1 {
	color: #ffffff;
}
#highlighted_item div.rank {
	position: relative;
	padding: 10px 0px;
	text-align: center;
	vertical-align: text-bottom;
	background-color: red;
	opacity: 0.6;
	filter: alpha(opacity=60);
	height: 20px;
	width: 40px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	z-index: 10000 !important;
	/*left: 9px;*/
}
* +html #highlighted_item div.rank {
	margin-left: -617px;
}
* html #highlighted_item div.rank {
	margin-left: -617px;
}
#highlighted_item div.ranked_photo {
	margin-top: -40px;
	z-index: 100 !important;
}
#highlighted_item div.ranked_photo img {
	max-width: 640px;
	max-height: 640px;
}
#highlighted_item div.full_photo {
	border: none;
	background-color: transparent !important;
}
#highlighted_item div.block_main {
	background-color: #ffffdd;
	border: none;
	border-left: #ffffdd solid 1px;
	border-right: #ffffdd solid 1px;
}

/* Overlay */
.overlay_backgroud {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #695245;
	opacity: 0.4;
	filter: alpha(opacity=40);
	z-index: 1000;
}
* html .overlay_backgroud {
	position: absolute;
	height: 6000px;
	overflow: hidden;
}
.overlay_wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1005;
}
* html .overlay_wrapper {
	position: absolute;
	/*overflow: hidden;*/
}
.overlay_content {
	position: relative;
	border: 8px solid #f5f5f5;
	margin: -200px -200px;
	width: 400px;
	background-color: #ffffff;
	z-index: 1010;
}
.overlay_content div.close {
	position: relative;
	top: 10px;
	right: 5px;
}
.overlay_content a, .overlay_content a:link, .overlay_content a:visited {
	color: #428cbb;
}
.overlay_content a:hover {
	background-color: #428cbb;
	color: #ffffff;
}

/* Partner */
.partner_photo {
	padding-right: 10px;
}
#partner_list_wrapper h2 a, #partner_list_wrapper h2 a:link, #partner_list_wrapper h2 a:visited {
	font-size: 12px;
}

/* Filter */
.filter_bar {
	background-color: #f5f5f5;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	padding-right: 13px;
	color: #b8b9a7;
}
.filter_bar a {
	margin-right: 10px;
}

/* Prev Next */
.prev_next_bar {
	background-color: #f5f5f5;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	padding-right: 13px;
	color: #b8b9a7;
}

/* Favorite */
.favorite_bar {
	margin-bottom: 8px;
}

/* Match */
#match_intro_detail td.right_column_lined {
	border: none;
}
#match_intro_detail .sub_block_tb {
	padding-top: 0px;
	padding-bottom: 0px;
}
#match_select_list {
	margin-left: 0px;
}
#match_select_list div.select {
	
}
#match_select_list td.left_column a:hover {
	background-color: transparent !important;
}
#match_select_list td.right_column h2 a {
	font-size: 12px;
}
.entriable_match_block {
	width: 660px;
	padding: 10px 8px 0px 10px;
	margin: 10px -10px 0px -10px;
	border-top: #f1f1f1 solid 1px;
	border-bottom: #f1f1f1 solid 1px;
	background-color: #eceff5;
}
* html .entriable_match_block {
	width: 656px;
	padding-right: 9px;
	margin-left: -8px;
	margin-right: -12px;
}
.entriable_match_block table {
	margin-top: 10px;
	margin-left: 0px;
}
.entriable_match_block td.right_column {
	width: 500px;
}
.entriable_match_block td.right_column h2 a {
	font-size: 12px !important;
}
.entriable_match_block td.vote_column {
	text-align: center;
}
div.vote_zone {
	width: 100px;
	height: 60px;
	padding-top: 2px;
	background-color: #ffffff;
	border: dashed 1px #f1f1f1;
	text-align: center;
}

/* Document */
#document_content li {
	margin-bottom: 3px;
}
#document_main img {
	margin-top: 10px;
	border: solid 1px #f1f1f1;
}

/* System & Admin */
.admin_bar {
	width: 660px;
	padding: 3px 10px;
	padding-right: 8px;
	margin: 10px -10px 0px -10px;
	border-top: #f1f1f1 solid 1px;
	border-bottom: #f1f1f1 solid 1px;
	color: #b8b9a7;
	background-color: #ffffcc;
	text-align: right;
}
* html .admin_bar {
	width: 656px;
	padding-right: 9px;
	margin-left: -8px;
	margin-right: -12px;
}
.info_bar {
	background-color: #f5f5f5;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	padding-right: 13px;
	color: #b8b9a7;
}

/* Share */
.share_code {
	margin-top: 10px;
	padding: 10px;
	background-color: #eceff5;
}
.share_preview {
	text-align: center;
}
.share_preview a:hover {
	background-color: transparent !important;
}
