<% item_type = type_for(item) %>

<% if show_title %>
	<div>
		<% if item_type == 'User' %>
			<%= render :partial => '/users/user_basic', 
						 :locals => { :user => item, 
						 							:show_come_from => false, 
						 							:show_icon => true,
						 							:show_name => true, 
						 							:show_link => true, 
						 							:show_username => true,
						 							:show_myname => false } %>		
		<% else %>
			<%= render :partial => '/layouts/item_basic', 
								 :locals => { :item => item,
								 							:show_icon => true,
								 							:show_title => true,
								 							:show_link => true } %>
		<% end %>
	</div>
<% end %>

<% if show_user %>
	<div class="item_user">
		<%= render :partial => '/users/user_basic', 
					 :locals => { :user => item.user, 
					 							:show_come_from => true, 
					 							:show_icon => false,
					 							:show_name => true, 
					 							:show_link => true, 
					 							:show_username => true,
					 							:show_myname => false } %>
	</div>
<% end %>

<% if show_photo_todo %>
	<div>
		<% item_id_sym = item_id(item).to_sym %>
		<% if item.user == @current_user %>
			<%= link_to "#{ADD_CN}新#{PHOTO_CN}", item_id_sym => item.id, :controller => 'photos', :action => 'new' %>
		<% end %>
	</div>
<% end %>