<% if notice %>
  <div id="flash">
    <div class="close">
      <%= link_to_function("x") do |page|
        page.hide "flash"
      end %>
    </div>
    <div>
      <%= notice %>
    </div>
  </div>
<% end %>