<% if show_paginate %>
	<% items = items_paginate(items_set) %>
<% elsif limit %>
	<% items = items_set[0..limit-1] %>
<% else %>
	<% items = items_set %>
<% end %>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => items} %>
<% end %>

<div class="sub_block_tb">
<table id="list_content" class="content">
	
	<% for item in items %>
		<%= render :partial => "/layouts/list_item", 
							 :locals => {:item => item, 
													 :itemable_sym => itemable_sym, 
													 :show_photo => show_photo, 
							 						 :photo_style => photo_style, 
							 						 :show_below_photo => show_below_photo, 
							 						 :show_title => show_title, 
							 						 :show_user => show_user, 
							 						 :show_photo_todo => show_photo_todo, 
							 						 :show_parent => show_parent,
							 						 :show_todo => show_todo, 
							 						 :show_favorite => show_favorite, 
							 						 :show_manage => show_manage, 
							 						 :delete_remote => delete_remote} %>
	<% end %>
	
</table>
</div>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => items} %>
<% end %>