<table class="content">		
	<% 1.upto(items_rows_count(items.size, items_count_per_row)) do |r| %>
		<tr>
			<% 1.upto(items_count_per_row) do |c| %>
				<% if (i=c+(r-1)*items_count_per_row) <= items.size %>
					<td class="photo_item_cell">
						<div class="matrix_block">
							
							<% if show_photo %>
								<div class="matrix_photo">
				    			<%= render :partial => "/layouts/item_photo",
				    								 :locals => {:item_type => item_type, 
				    								 						 :item => items[i-1], 
				    								 						 :photo_style => 'matrix'} %>
								</div>
							<% end %>
							
							<div class="below_photo">
								<%= render :partial => "/layouts/item_below_photo", 
													 :locals => {:item_type => item_type, 
													 						 :item => items[i-1], 
													 						 :show_title => show_title, 
													 						 :show_photo_todo => show_photo_todo} %>
							</div>
							
						</div>
					</td>
				<% else %>
					<% break %>
				<% end %>
			<% end %>
		</tr>	
	<% end %>
</table>