<% item_type = type_for(item) %>

<% if item_type == 'User' || item_type == 'Contact' || item_type == 'Review' %>
	<% if item_type == 'User' %>
		<% user = item %>
	<% elsif item_type == 'Contact' %>
		<% user = item.contactor %>
	<% elsif item_type == 'Review' %>
		<% user = item.user %>
	<% end %>
	<% photo = user_portrait(user) %>
	<% photoable_type = 'User' %>
	<% title = user_username(user) %>
	<% item_link_url = user_first_link(user) %>
<% else %>
	<% photo = cover_photo(item) %>
	<% photoable_type = item_type %>
	<% title = item_title(item) %>
	<% if item_type == 'Match' %>
		<% item_link_url = item_first_link(item) %>
	<% else %>
		<% item_link_url = item %>
	<% end %>
<% end %>

<% if photo_style == 'full' %>
	<% style = "max-width: 640px; max-height: 640px;" %>
<% else %>
	<% photo_size = photo_size(photo_style) %>
	<% case photo_size
		 when 'medium' 
			 style = "max-width: 320px; max-height: 320px;"
		 when 'small'
		 	 style = "max-width: 160px; max-height: 160px;"
		 when 'tiny'
		 	 style = "max-width: 80px; max-height: 80px;"
		 when 'lcube'
		 	 style = "width: 192px; height: 192px;"
		 when 'mcube'
		 	 style = "width: 96px; height: 96px;"
		 when 'scube'
		 	 style = "width: 48px; height: 48px;"
		 when 'tcube'
		 	 style = "width: 24px; height: 24px;"
		 end %>
<% end %>

<% if item_type == 'User' || item_type == 'Contact' || item_type == 'Review' %>
	<%= link_to image_tag(photo_file_url(photo, photoable_type, photo_style), :title => strip_tags(str_squish(title)), :alt => '', :style => style), 
							item_link_url %>
<% else %>			
	<!-- tips显示代码start -->
	<span onmouseover="_tipon(this)" onmouseout="_tipoff()" class="pop_tips">
		<span class="google-src-text">
		  <%= image_tag photo_file_url(photo, photoable_type, 'detail'), :title => strip_tags(str_squish(title)), :alt => '' %>
		</span>
	<!-- tips显示代码end -->
	
		<%= link_to image_tag(photo_file_url(photo, photoable_type, photo_style), :title => strip_tags(str_squish(title)), :alt => '', :style => style), 
								item_link_url %>
	
	<!-- tips显示代码start -->
	</span>
	<!-- tips显示代码end -->
<% end %>
