<% if show_paginate %>
	<% items = items_paginate(items_set, items_count_per_page) %>
<% elsif limit %>
	<% items = items_set[0..limit-1] %>
<% else %>
	<% items = items_set %>
<% end %>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => items} %>
<% end %>

<div class="sub_block_tb">
<table class="content">		
	<% 1.upto(items_rows_count(items.size, items_count_per_row)) do |r| %>
		<tr>
			<% 1.upto(items_count_per_row) do |c| %>
				<% if (i=c+(r-1)*items_count_per_row) <= items.size %>
					<td class="photo_item_cell">
						<div class="matrix_block">
							
							<% if show_photo %>
								<div class="matrix_photo">
				    			<%= render :partial => "/layouts/item_photo",
				    								 :locals => {:item => items[i-1], 
				    								 						 :photo_style => photo_style} %>
								</div>
							<% end %>
							
							<% if show_below_photo %>
								<div class="below_photo">
									<%= render :partial => "/layouts/below_item_photo", 
														 :locals => {:item => items[i-1], 
														 						 :show_title => show_title, 
														 						 :show_photo_todo => show_photo_todo} %>
								</div>
							<% end %>
							
						</div>
					</td>
				<% else %>
					<% break %>
				<% end %>
			<% end %>
		</tr>	
	<% end %>
</table>
</div>

<% if show_paginate %>
	<%= render :partial => "/layouts/items_paginate",
						 :locals => {:items => items} %>
<% end %>