<div id="from_where_prompt" class="text">
  <%= "如果是转载的, 请#{INPUT_CN}转载的\"报刊 / 书籍 / 网址\"等等" %>
</div>
<div id="from_where" class="input">
  <%= text_field_tag "#{item_type}[from_where]", '', :class => "text" %>
</div>