<% item_type = type_for(item) %>

<tr id="<%= "#{item_type.downcase}_#{item.id}_line" %>">
	<td class="left_column">
		<div class="sub_block">
				<% if show_parent %>
					<% photoable_type = itemable_type(item, itemable_sym) %>
					<% photoable = itemable(item, itemable_sym) %>
				<% else %>
					<% photoable_type = item_type %>
					<% photoable = item %>
				<% end %>
				
				<% if show_photo %>
					<div class="list_photo">
	    			<%= render :partial => "/layouts/item_photo",
	    								 :locals => {:item => photoable, 
	    								 						 :photo_style => photo_style} %>
					</div>
				<% end %>
				
				<% if show_below_photo %>
					<div class="below_photo">
						<%= render :partial => "/layouts/below_item_photo", 
											 :locals => {:item => photoable, 
											 						 :show_title => show_title, 
											 						 :show_photo_todo => show_photo_todo} %>
					</div>
				<% end %>
	
			</div>
	</td>
    
	<td class="right_column_lined">
		<div class="sub_block">
			<%= render :partial => "/#{controller_name(item_type)}/#{item_type.downcase}_s", 
								 :locals => {:item => item, 
								 						 :show_parent => show_parent, 
								 						 :show_todo => show_todo, 
								 						 :delete_remote => delete_remote} %>
		</div>
	</td>
</tr>