<div class="sidebar_block">
	<div class="sidebar_todo_button">
		<%= link_to "+ 我要#{CREATE_CN}新#{RECIPE_CN}", new_recipe_path %>
	</div>
	<div class="sidebar_todo_button">
		<%= link_to "+ 我要#{FEEDBACK_CN} - 建议/错误/举报......", feedback_path %>
	</div>
</div>