<div class="content_block">
	<div class="block_header">
		<h1><%= strip_tags @block_title %></h1>
	</div>
	
	<div class="block_main">
		<div class="sub_block_tb">
		<% if params[:id] == 'portrait' %>
			<%= render :partial => "change_#{params[:id]}", 
								 :locals => {:photo => @new_portrait} %>
		<% else %>
			<%= render :partial => "change_#{params[:id]}", 
								 :locals => {:password_error => @password_error} %>
		<% end %>
		</div>
	</div>
	
</div>